{% extends "base.html.twig" %}

{% block title %}
	Adhésion
	{{ parent() }}
{% endblock %}

{% block nav_class %}
	navbar-gray navbar-bg-gray
{% endblock %}

{% block canonical %}
	https://snaix.fr/adhesions
{% endblock %}

{% block ogtitle %}
	Adhésion • Société Napoléonienne d'Aix-en-Provence
{% endblock %}

{% block ogdescription %}
	Vous pouvez adhérer à la SNA pour l'année 2025. Cela vous donne droit à un abonnement gratuit au trimestriel numérique "Journal des 2 Empires", une visite guidée gratuite par mois, et des informations privilégiées.
{% endblock %}

{% block body %}
	
	<section class="wrapper bg-light">
		<div class="container pb-6 pb-md-6 pt-12">
			<h1 class="text-center display-1 fs-33 lh-xxs mb-0 pt-3">Adhésion 2025 à la SNA</h1>
			<p class="lead px-lg-5 px-xxl-8 pt-10">L'adhésion (20€) vous donne droit :</p>
			<ul class="icon-list bullet-bg bullet-soft-primary">
				<li>
					<span>
						<i class="uil uil-check"></i>
					</span>
					<span>À une visite guidée gratuite "Sur les traces de Napoléon à Aix" (prochaines visites
						les 16 novembre et 7 décembre)</span>
				</li>
				<li>
					<span>
						<i class="uil uil-check"></i>
					</span>
					<span>Une information et inscription privilégiées aux événements de la SNA</span>
				</li>
				<li>
					<span>
						<i class="uil uil-check"></i>
					</span>
					<span>Un abonnement gratuit au trimestriel numérique "Journal des 2 Empires" (J2E)</span>
				</li>
			</ul>
			<div class="container pb-6 pb-md-2 pt-12">
				<iframe
						id="haWidget"
						allowtransparency="true"
						src="https://www.helloasso.com/associations/sna-societe-napoleonienne-d-aix-en-provence/adhesions/adhesion-2025-societe-napoleonienne-d-aix-en-provence-1/widget"
						style="width: 100%; height: 1000px; border: none;"
				></iframe>
			</div>
		</div>
	</section>
	
{% endblock body %}
