{% extends "base.html.twig" %}

{% block title %}
	Adhésion
	{{ parent() }}
{% endblock %}

{% block nav_class %}
	navbar-gray navbar-bg-gray
{% endblock %}

{% block canonical %}
	https://snaix.fr/adhesions
{% endblock %}

{% block body %}
	
	<section class="wrapper bg-light">
		<div class="container pb-6 pb-md-6 pt-12">
			<h1 class="text-center display-1 fs-33 lh-xxs mb-0 pt-3">Adhésion 2025 à la SNA</h1>
			<p class="lead px-lg-5 px-xxl-8 pt-10">L'adhésion (20€) vous donne droit :</p>
			<ul class="icon-list bullet-bg bullet-soft-primary">
				<li>
					<span>
						<i class="uil uil-check"></i>
					</span>
					<span>À une visite guidée gratuite "Sur les traces de Napoléon à Aix" (prochaines visites
						les 16 novembre et 7 décembre)</span>
				</li>
				<li>
					<span>
						<i class="uil uil-check"></i>
					</span>
					<span>Une information et inscription privilégiées aux événements de la SNA</span>
				</li>
				<li>
					<span>
						<i class="uil uil-check"></i>
					</span>
					<span>Un abonnement gratuit au trimestriel numérique "Journal des 2 Empires" (J2E)</span>
				</li>
			</ul>
			<div class="container pb-6 pb-md-2 pt-12">
				<iframe
						id="haWidget"
						allowtransparency="true"
						src="https://www.helloasso.com/associations/sna-societe-napoleonienne-d-aix-en-provence/adhesions/adhesion-2025-societe-napoleonienne-d-aix-en-provence-1/widget"
						style="width: 100%; height: 1000px; border: none;"
				></iframe>
			</div>
		</div>
	</section>
	
	<script>
        document.addEventListener("DOMContentLoaded", function () {
            const priceFilters = document.querySelectorAll('input[name="price"]');

            priceFilters.forEach(filter => {
                filter.addEventListener('change', function () {
                    const selectedPriceRange = this.value;

                    // Crée une requête AJAX avec Fetch API
                    fetch(`/filter/products?priceRange=${selectedPriceRange}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            // Vide la liste actuelle des produits
                            const isotopeContainer = document.querySelector('.isotope');
                            const iso = new Isotope(isotopeContainer, {
                                itemSelector: '.item',
                                layoutMode: 'fitRows'
                            });

                            iso.layout();
                            isotopeContainer.innerHTML = '';

                            // Parcourt les produits reçus et les ajoute au DOM
                            data.products.forEach(product => {
                                const productHtml = `
                        <div class="project item col-md-6 col-xl-4 ${product.category.toLowerCase()}">
                            <figure class="rounded mb-6">
                                <img style="height: 314.79px !important; object-fit: cover;" src="/uploads/${product.image}" alt="image du produit" />
                                <a class="item-like" href="#" title="Ajouter à ma liste de vœux">
                                    <i class="uil uil-heart"></i>
                                </a>
                                <a class="item-view" href="#" title="Vue rapide">
                                    <i class="uil uil-eye"></i>
                                </a>
                                <a href="/cart/add/${product.id}" class="item-cart">
                                    <i class="uil uil-shopping-bag"></i> Ajouter au panier
                                </a>
                            </figure>
                            <div class="post-header">
                                <div class="d-flex flex-row align-items-center justify-content-between mb-2">
                                    <div class="post-category text-ash mb-0">${product.category}</div>
                                    <span class="ratings five"></span>
                                </div>
                                <h2 class="post-title h3 fs-22">
                                    <a href="#" class="link-dark">${product.name}</a>
                                </h2>
                                <p class="price"><span class="amount">${product.price} €</span></p>
                            </div>
                        </div>`;
                                isotopeContainer.insertAdjacentHTML('beforeend', productHtml);
                            });
                        })
                        .catch(error => {
                            console.error('Une erreur s\'est produite lors du chargement des produits:', error);
                        });
                });
            });
        });
	</script>

{% endblock body %}
