{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Arts martiaux
{% endblock %}

{% block nav_class %}
	transparent position-absolute navbar-dark
{% endblock %}

{% block body %}
	
	<section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="./img/KATE-KAI.jpeg">
		<div class="container pt-19 pt-md-21 pb-18 pb-md-20 text-center">
			<div class="row">
				<div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto">
					<h1 style="font-size: 3rem;" class="display-1 text-muted mb-3">
						<span>ShinKyoKaï</span> <br>
						<span class="text-red">Académie d'arts martiaux</span>
					</h1>
					<h2 class="fs-15 text-uppercase text-muted mb-3">Justice - Honneur - Sérénité</h2>
					
					<p class="text-white mt-10 fs-lg px-md-3 px-lg-7 px-xl-9 px-xxl-10">Budo signifie littéralement « la Voie de la
						guerre », ou « du combat ». C’est donc le combat qui est au cœur de la pratique martiale.
						L’entraînement et la maîtrise technique ont pour finalité l’efficacité martiale, qui bien entendu
						est circonstanciée, conditionnée à plusieurs paramètres. La démarche de l’Académie Shinkyokaï
						pose donc en son centre le combat.</p>
				
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper bg-dark">
		<div class="container pt-14 pb-18 pt-md-16 pb-md-15 text-left">
			<div class="row">
				<div class="mx-auto text-left">
					<p class="text-white">L’Académie Shinkyokaï réunit des écoles et clubs d’arts martiaux soucieux de partager leurs connaissances, par le biais de stages notamment. A Shinkyokaï, nous ne considérons pas qu’il existe un « art martial ultime », supérieur aux autres. Le pratiquant choisit une Voie (Do), la meilleure pour lui, mais dans notre académie, il est invité à découvrir d’autres disciplines, lesquelles vont enrichir son expérience et nourrir sa Voie. Par ailleurs, il continue d’étudier sa discipline dont il doit devenir un expert. Pour réaliser ces objectifs, les responsables de délégations Shinkyokaï sont invités à organiser des stages animés par des spécialistes des disciplines proposées. La direction technique nationale, quant à elle, propose un stage interdisciplinaires annuel au moins, à Aix en Provence, permettant ainsi aux adhérents des clubs affiliés ou des amis de l’Académie de se réunir en contribuant à réaliser la maxime de Maître KANO Jigoro, fondateur du Judo, maxime de la Kokusaï Budoin IMAF Japon : Seïryoku zenyo jita kyoeï : « Minimum d’énergie maximum d’efficacité, échange et prospérité mutuelle ». </p>
					<p class="text-white">L’Académie privilégie les « arts martiaux » japonais ou d’inspiration japonaise, non pas parce qu’elle les considèrerait comme supérieurs aux autres, mais parce qu’elle s’inscrit dans une démarche culturelle et philosophique directement héritée des Budo, avec leur charge spirituelle et leurs rituels propres. Cela ne doit pas empêcher l’Académie d’inviter des experts d’autres sciences du combat, ainsi thaï, russe, chinoise, etc., afin d’en faire profiter ses membres. </p>
					<p class="text-white">L’Académie Shinkyokaï propose une étude des « arts martiaux » à partir des axes suivants, qui sont structurants, essentiels ; </p>
					<ol>
						<li class="text-white">maîtrise technique,</li>
						<li class="text-white">recherche de l’efficacité martiale,</li>
						<li class="text-white">dimensions philosophique et spirituelle,</li>
						<li class="text-white">démarche culturelle.</li>
					</ol>
					<p class="text-white"></p>
					<p class="text-white"></p>
					<p class="text-white"></p>
					<p class="text-white"></p>
					<p class="text-white">1) Si nous ne confondons pas la forme, et le moule, presque par essence psychorigide, nous
						n’établissons pas non-plus de confusion entre la recherche de sensation et le chaos, qui serait
						le résultat d’une démarche trop constructiviste et, en réalité, peu efficace sur le long terme.
						L’acquisition d’une forme de corps, à partir de la répétition, aboutissant à la maîtrise
						technique, est le socle sur lequel reposera tout le reste. Il s’agit des fondations sans
						lesquelles l’édifice est fragile. La maîtrise technique et la recherche de perfection de la
						forme — par définition inatteignable — est également une garantie contre les « escroqueries »
						et les démarches empreintes d’un mysticisme outrancier. Les experts des Écoles et clubs membres
						de Shinkyokaï veilleront néanmoins à ouvrir les perspectives de leurs élèves : la forme est
						malléable et il existe souvent plusieurs chemins pour parvenir au sommet. L’étude de variantes
						est une nécessité qui amènera les pratiquants à développer leurs capacités d’adaptation. Du
						reste, la technique doit être éprouvée à lumière du combat.</p>
					<p class="text-white">2) Budo signifie littéralement « la Voie de la guerre », ou « du combat ». C’est donc le combat
						qui est au cœur de la pratique martiale. L’entraînement et la maîtrise technique ont pour
						finalité l’efficacité martiale, qui bien entendu est circonstanciée, conditionnée à plusieurs
						paramètres. La démarche de l’Académie Shinkyokaï pose donc en son centre le combat. Où et
						comment frapper, par exemple, comment exercer une clé ou un étranglement, pour générer les
						effets escomptés, et pas pour s’inscrire dans une démarche contemplative et/ou esthétisante.
						Dans cette perspective, la préparation physique joue un rôle important : tonifier le corps,
						gagner en souplesse, optimiser ses qualités d’endurance, sont autant d’éléments qui permettent
						d’affûter ses armes, esprit/technique/corps (Shin Gi Taï). D’ailleurs, la direction technique
						nationale propose chaque année un stage combat ouvert à tous les clubs membres. Cette approche
						centrée sur le combat rapproché n’est pas opposée à l’élévation de l’Homme.</p>
					<p class="text-white">3) Si nous choisissons de pratiquer des Budo, ce n’est pas parce qu’ils seraient plus efficaces
						que la boxe américaine ou le krav maga, mais parce qu’ils sont imprégnés du zen, du taoïsme,
						du confucianisme. Nous n’idéalisons pas les spiritualités d’Extrême-Orient, le zen par exemple,
						a une violence intrinsèque. Néanmoins, nous pensons que ces systèmes de pensée proposent une
						philosophie du combat qui permet d’appréhender une démarche globale. Le zen amène notamment la
						gestion de la peur, le taoïsme le principe d’équilibre entre les opposés, le confucianisme un
						corpus de principes chevaleresques qui amène l’Homme à devenir meilleur et vertueux. Point
						d’ésotérisme ici, mais la transmission d’une éthique et le souci de s’élever spirituellement.
						Une démarche qui rappelle que le bushi, le chevalier, est également un homme de culture.</p>
					<p class="text-white"   >4) La plume et le sabre, deux armes indissociables pour avancer sur la Voie du Guerrier. Miyamoto
						Musashi n’expliquait pas autre chose dans son Gorin no Sho : la distinction entre le bonze, une
						femme ou le guerrier n’était pas selon lui la quête de l’honneur, mais la volonté de cultiver à
						la fois la Voie du combat et celle des Lettres. Dans son Vers l’armée de métier, le colonel De
						Gaulle écrivait « La véritable école du commandement est donc la culture générale. Par elle la
						pensée est mise à même de s’exercer avec ordre, de discerner dans les choses l’essentiel de
						l’accessoire, d’apercevoir les prolongements et les interférences, bref de s’élever à ce degré
						où les ensembles apparaissent sans préjudice des nuances. Pas un illustre capitaine qui n’eût
						le goût et le sentiment du patrimoine de l’esprit humain. Au fond des victoires d’Alexandre,
						on retrouve toujours Aristote. » Est un guerrier celui qui fait la guerre, nous ne sommes donc
						pas des guerriers, mais les membres d’une académie d’« arts martiaux » héritière de traditions
						guerrières. Comprendre la culture du Japon par exemple, s’imprégner des philosophies
						d’Extrême-Orient, saisir l’histoire, sont donc des éléments essentiels de la démarche
						Shinkyokaï. Affûter ses connaissances en matière d’anatomie ou de pédagogie est aussi partie
						prenante de celle-ci. Aussi, notre académie propose-t-elle de la formation continue à
						destination des instructeurs et parsème-t-elle de ces éléments dans le cadre de ses stages.</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wrapper bg-black">
		<div class="container py-10">
			<div class="tab-content mt-6 mt-lg-8 mb-md-9">
				<div class="tab-pane fade show active" id="tab2-1" role="tabpanel">
					<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
						<div class="col-lg-6">
							<h2 class="mb-3" style="color: red;">YOKOSO</h2>
							<p class="text-white"> Au nom de l’<strong><em style="color: red;">Académie Shinkyokaï</em></strong>,
								bienvenue ! Nous sommes heureux de vous accueillir. Les spécificités des disciplines pratiquées
								sont respectées à Shinkyokaï. Quant au
								<strong><em style="color: red;">Ryû Shinkyokaï Karaté-Dô</em></strong>, il s’inscrit
								dans une démarche à la fois évolutive et de retour aux sources. Vous trouverez ici
								toutes les informations nécessaires quant à nos stages et formations.
							</p>
							<p class="text-white"><strong><em style="color: red;">Jean-Baptiste Chikhi-Budjeia</em></strong></p>
							<p class="text-white">Directeur technique <em>Shinkyokaï</em>,
								<strong><em style="color: red;">Renshi</em></strong></p>
						</div>
						<div class="col-lg-6">
							<h2 class="mb-3 text-white">Notre Ensô, Shinkyokaï</h2>
							<div class="row gx-md-5 gy-5 align-items-center">
								<img
										class="img-fluid rounded d-flex ms-auto"
										src="/img/LOGO-SHIN-KYO-WHITE-TR.png"
										srcset="/img/LOGO-SHIN-KYO-WHITE-TR.png"
										alt="logo shin kyo white">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
{#		<div class="container-fluid px-md-6">#}
{#			<div#}
{#					class="swiper-container blog grid-view mb-17 mb-md-19 swiper-container-0"#}
{#					data-margin="30"#}
{#					data-nav="true"#}
{#					data-dots="true"#}
{#					data-items-xxl="3"#}
{#					data-items-md="2"#}
{#					data-items-xs="1"#}
{#			>#}
{#				<div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">#}
{#					<div#}
{#							class="swiper-wrapper"#}
{#							id="swiper-wrapper-7f5dba5d2472b9cd"#}
{#							aria-live="off"#}
{#							style="cursor: grab;#}
{#							transform: translate3d(0px, 0px, 0px);"#}
{#					>#}
{#						<div#}
{#								class="swiper-slide swiper-slide-active"#}
{#								role="group"#}
{#								aria-label="1 / 7"#}
{#								style="width: 450px;#}
{#								margin-right: 30px;"#}
{#						>#}
{#							<figure class="rounded">#}
{#								<img src="/img/Bertrand-empi-uchi-e1694805130381.jpeg" alt="Bertrand Weiss empi uchi">#}
{#							</figure>#}
{#						</div>#}
{#						<div#}
{#								class="swiper-slide swiper-slide-next"#}
{#								role="group"#}
{#								aria-label="2 / 7"#}
{#								style="width: 450px;#}
{#								margin-right: 30px;"#}
{#						>#}
{#							<figure class="rounded"><img src="/img/Nunchaku.jpg" alt=""></figure>#}
{#						</div>#}
{#						<div class="swiper-slide" role="group" aria-label="3 / 7" style="width: 450px; margin-right: 30px;">#}
{#							<figure class="rounded"><img src="/img/Tsuki-Elitsa.jpeg" alt="Elitsa tsuki"></figure>#}
{#						</div>#}
{#						<div class="swiper-slide" role="group" aria-label="4 / 7" style="width: 450px; margin-right: 30px;">#}
{#							<figure class="rounded"><img src="/img/AdobeStock_628972211.jpeg" alt="young girl karate in front of other karate kids"></figure>#}
{#						</div>#}
{#						<div class="swiper-slide" role="group" aria-label="5 / 7" style="width: 450px; margin-right: 30px;">#}
{#							<figure class="rounded"><img src="/img/pexels-rdne-stock-project-8611379.jpg" alt="boxe francaise"></figure>#}
{#						</div>#}
{#					</div>#}
{#					<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>#}
{#				<div class="swiper-controls">#}
{#					<div class="swiper-navigation">#}
{#						<div#}
{#								class="swiper-button swiper-button-prev swiper-button-disabled"#}
{#								tabindex="-1"#}
{#								role="button"#}
{#								aria-label="Previous slide"#}
{#								aria-controls="swiper-wrapper-7f5dba5d2472b9cd"#}
{#								aria-disabled="true"#}
{#						>#}
{#						</div>#}
{#						<div#}
{#								class="swiper-button swiper-button-next"#}
{#								tabindex="0"#}
{#								role="button"#}
{#								aria-label="Next slide"#}
{#								aria-controls="swiper-wrapper-7f5dba5d2472b9cd"#}
{#								aria-disabled="false"#}
{#						>#}
{#						</div>#}
{#					</div>#}
{#					<div#}
{#							class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets#}
{#							swiper-pagination-horizontal"#}
{#					>#}
{#						<span#}
{#								class="swiper-pagination-bullet swiper-pagination-bullet-active"#}
{#								tabindex="0"#}
{#								role="button"#}
{#								aria-label="Go to slide 1"#}
{#								aria-current="true"#}
{#						></span>#}
{#						<span#}
{#								class="swiper-pagination-bullet"#}
{#								tabindex="0"#}
{#								role="button"#}
{#								aria-label="Go to slide 2"#}
{#						></span>#}
{#						<span#}
{#								class="swiper-pagination-bullet"#}
{#								tabindex="0"#}
{#								role="button"#}
{#								aria-label="Go to slide 3"#}
{#						></span>#}
{#						<span#}
{#								class="swiper-pagination-bullet"#}
{#								tabindex="0"#}
{#								role="button"#}
{#								aria-label="Go to slide 4"#}
{#						></span>#}
{#						<span#}
{#								class="swiper-pagination-bullet"#}
{#								tabindex="0"#}
{#								role="button"#}
{#								aria-label="Go to slide 5"#}
{#						></span>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
	</section>
	
{% endblock body %}
