{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Arts culturels
{% endblock %}

{% block nav_class %}
	transparent position-absolute navbar-dark
{% endblock %}

{% block body %}
	
	<section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="/img/origami.jpg">
		<div class="container pt-19 pt-md-21 pb-18 pb-md-20 text-center">
			<div class="row">
				<div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto">
					<h1 style="font-size: 3rem;" class="display-1 text-muted mb-3">
						<span>ShinKyoKaï</span> <br>
						<span class="text-red">Académie d'arts culturels</span>
					</h1>
					<h2 class="fs-15 text-uppercase text-muted mb-3">Justice - Honneur - Sérénité</h2>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wrapper bg-dark">
		<div class="container pt-14 pb-18 pt-md-16 pb-md-15 text-left">
			<div class="row">
				<div class="mx-auto text-left">
					<p class="text-white">La culture, ce vaste océan d'expressions humaines, est le fil d'Ariane qui relie les individus à
						leur histoire, à leur identité et à leur communauté en évitant un essentialisme qui peut vite
						devenir dangereux. Elle se manifeste à travers les arts, les traditions, les croyances et les
						modes de vie, formant un kaléidoscope riche et varié qui témoigne de la créativité et de la
						diversité de l'expérience humaine. Chaque culture, qu'elle soit urbaine ou rurale, ancienne ou
						moderne, raconte une histoire unique, façonnée par des siècles d'interactions, de luttes et de
						célébrations.</p>
					<p class="text-white">Explorer la culture, c'est entreprendre un voyage fascinant au cœur de l'humanité. C'est découvrir
						comment les gens s'expriment à travers la musique, la danse, la littérature et les arts visuels,
						et comment ces formes d'expression révèlent des vérités profondes sur notre existence.
						La culture est également un miroir qui reflète les valeurs et les croyances d'une société,
						nous invitant à réfléchir sur notre place dans le monde et sur les liens qui nous unissent.
					</p class="text-white">
					<p class="text-white">
						La culture n'est pas statique ; elle évolue constamment, influencée par les échanges entre les
						peuples, les avancées technologiques et les changements sociaux. Dans un monde de plus en plus
						globalisé, les cultures se rencontrent, se mélangent et se réinventent, créant ainsi de
						nouvelles dynamiques et enrichissant notre compréhension collective. Ce phénomène de métissage
						culturel est à la fois une source de richesse et un défi, nous poussant à naviguer entre
						préservation des traditions et ouverture à la nouveauté. Ainsi, la culture est bien plus qu'un
						simple ensemble de pratiques ; elle est le cœur battant de notre humanité, un espace où se
						rencontrent passé, présent et futur.
					</p>
					<p class="text-white">
						La culture franco-japonaise est le fruit d'une rencontre fascinante entre deux traditions riches
						et distinctes, chacune apportant ses propres couleurs et saveurs à ce dialogue interculturel.
						Depuis des siècles, la France et le Japon entretiennent des relations qui ont permis un échange
						culturel dynamique, donnant naissance à une fusion unique qui continue d'évoluer et d'inspirer.
					</p>
					<p class="text-white">
						En effectuant quelques recherches, nous pouvons constater de l'influence réciproque des cultures
						française et japonaise comme l'impressionnisme français qui fut en grande partie influencé par
						le japonisme et plus précisément par des estampes Ukiyo-e qui inspirent certains artistes
						français tel que Claude Monet.
					</p>
					<p class="text-white">
						Shinkyokaï, Académie d’arts martiaux et culturels a pour objectif de transmettre le savoir de
						nos professeurs sur la culture japonaise, sous plusieurs formes, en la liant parfois à la culture
						française afin d’observer son évolution et son influence sur notre quotidien.
					</p>
					<p class="text-white">
						Un exemple : L'origami peut permettre de se concentrer et de travailler notre minutie tout en
						réfléchissant à la signification du pliage en cours ou sur nous-même, prendre le temps de se
						poser et de méditer.
					</p>
					<p class="text-white">
						Le versant culturel de l’académie Shinkyokaï entend assurer la promotion et la valorisation
						d’arts japonais aussi riches que divers. Ainsi, avec le concours de nos intervenants et
						partenaires, vous pourrez vous initier et vous perfectionner en origami (pliage de papier),
						<em>shodo</em> (calligraphie), <em>sumi-e</em> (peinture à l’encre), <em>kintsugi</em>
						(restauration d’objets cassés avec de la poudre d’or), … Le point commun à tous ces arts ?
						La recherche de perfection, à travers la précision du geste et la patience exigée, qui sont,
						d’une certaine manière,	une métaphore de la recherche de perfection du caractère, du travail
						sur soi, de son esprit que l’on épure. Ici, Shinkyokaï participe du lien entre le culturel
						et le martial.
					</p>
					<p class="text-white">
						Tout au long de l’année, nous vous proposerons de participer aux ateliers de votre choix.
						Chacun des membres de notre académie bénéfice évidemment d’un tarif préférentiel pour y accéder.
						Nous proposerons également des événementiels qui contribueront à réaliser ces objectifs, ainsi,
						<em>Harumatsuri</em>, festival du Printemps – Arts martiaux et culturels du Japon (6 avril 2025).
					</p>
					<p class="text-white">
						Promouvoir et diffuser la culture japonaise consiste également à travailler avec des partenaires
						institutionnels et associatifs, comme le Consulat Général du Japon de Marseille ou les écoles
						d’arts martiaux soucieuses de cette dimension.
					</p>
					<p class="text-white">
						Pour adhérer à Shinkyokaï sans être membres d’un club ou d’une école d’arts martiaux, il vous
						suffit de vous rendre sur <a href="{{ path("app_inscription_arts_culturels") }}">cette page</a> et de
						vous acquitter de la cotisation annuelle de 20 € (10 € pour les étudiants et demandeurs d’emploi).
					</p>
				</div>
			</div>
		</div>
	</section>

{% endblock body %}
