{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Équipe
{% endblock %}

{% block nav_class %}
	transparent navbar-dark navbar-bg-dark bg-black
{% endblock %}

{% block body %}
	
	<section id="snippet-1" class="wrapper bg-dark wrapper-border">
		<div class="container pt-15 pt-md-17 pb-13 pb-md-15">
			<div class="row mb-3">
				<div class="col-md-10 col-lg-12 col-xl-10 col-xxl-9 mx-auto text-center">
					<h2 class="fs-15 text-uppercase text-muted mb-3">Notre équipe</h2>
					<h3 class="display-4 mb-7 px-lg-19 px-xl-18 text-red">Les cadres de Shinkyokaï</h3>
				</div>
			</div>
			<div class="row grid-view gx-md-8 gx-xl-10 gy-8 gy-lg-0">
				<div class="col-md-6 col-lg-3">
					<div class="position-relative">
						<div class="shape rounded bg-soft-blue rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<div class="card">
							<figure class="card-img-top"><img class="img-fluid" src="/img/JB-rideau-noir-scaled.jpeg" srcset="/img/JB-rideau-noir-scaled.jpeg" alt=""></figure>
							<div class="card-body px-6 py-5">
								<h4 class="mb-1">Jean-Baptiste Chikhi-Budjeia</h4>
								<p class="mb-4">Président, fondateur Shinkyokaï – 5ème Dan Karaté-Do, Renshi</p>
								<p>Jean-Baptiste Chikhi-Budjeia pratique le Karaté-Dō depuis 25 ans. Si sa spécialité
									est le Shotokan-Ryu, il a pu étudier, à l’occasion de stages notamment avec des
									maîtres japonais, quelques fondamentaux des styles Wado, Shito et même Goju.</p>
									Il s’intéresse également aux Kobudō. Sa recherche l’a conduit à découvrir le
								Nihon-Jujutsu, l’Aïkidō, le Ninjutsu, le Tang Soo Do, le Taekwondo ou encore le Taï-Chi
								Chuan et le I-Chuan, dans le but d’enrichir sa pratique, son Karaté-Dō, et ainsi
								d’ouvrir ses perspectives. Sa démarche est celle d’un passionné désireux de transmettre
								et de partager. Cela l’a conduit à créer le Ryu ou style Shinkyokaï, porté par
								l’Académie du même nom, ouverte à plusieurs arts martiaux, essentiellement japonais.
								Ce Ryu est né de l’Ecole de Karaté-Do aixoise, Shin Kyo Budo, membre de l’Aix Université
								Club.</p>
								<p>Il suit l’enseignement de Bertrand WEISS Kyoshi, 7ème Dan IMAF Japon. Jean-Baptiste
									Chikhi-Budjeia est également 3ème Dan Yiseishindo et 1er Degré SDK Krav Maga.</p>
								<p>Il est titulaire du Diplôme d’État de la Jeunesse, de l’Éducation Populaire et du
									Sport (DEJEPS) « Karaté et Disciplines associées ». Éducateur sportif, il est
									également titulaire du BPJEPS « Activités physiques pour Tous ».</p>
								<p>Jean-Baptiste Chikhi-Budjeia a eu l’honneur de présenter en 2017 son 4ème Dan Kokusaï
									Budoin IMAF (Japon) devant Maître HIGUCHI Ikuo, 9ème Dan Kokusaï Budoin IMAF,
									Hanshi, l’un des disciples de Maître GIMA Makoto , LE premier 1er Dan de Karaté
									de l’Histoire, assistant de Maître FUNAKOSHI Gichin lui-même.</p>
								<p>C’est également devant de grands experts de Karaté-Do qu’il a présenté, en 2023, le
								</p>5<sup>ème</sup> Dan : Bertrand Weiss pour le grade IMAF Japon, Dominique Valera, </p>
								10<sup>ème</sup> Dan, pour le grade FFK, puis, en 2024, Sun Woo Delneufcourt,
								7<sup>ème</sup> Dan, et Robert Dejardin, 6<sup>ème</sup> Dan, tous deux Kyoshi, pour le
								Grade Daï Nippon Butoku Kaï (DNBK).</p>
								<p>En 2024, la DNBK lui décerne le titre de Renshi en Karaté-Do, soit « expert ».</p>
								<p>Historien moderniste (il rédige actuellement une thèse de Doctorat sur la Révolution
									française à Aix), il a publié son premier livre pour les Editions Landogne, La Plume
									et le Sabre, deux armes indissociables pour avancer sur la Voie du Guerrier,
									Collection Savoir (Cf. onglet « Actualités »). Son deuxième ouvrage, Shogun,
									introduction à une politique de la guerre dans le Japon des samuraï, est paru au
									Lys bleu Editions en septembre 2021.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="position-relative">
						<div class="shape rounded bg-soft-red rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<div class="card">
							<figure class="card-img-top"><img class="img-fluid" src="/img/yiseishindo.png" srcset="/img/yiseishindo.png" alt="yiseishindo"></figure>
							<div class="card-body px-6 py-5">
								<h4 class="mb-1">Jean-Baptiste Michon</h4>
								<p class="mb-5">Directeur technique – 5<sup>ème</sup> Dan FEKAMT Yiseishindo</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="position-relative">
						<div class="shape rounded bg-soft-green rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<div class="card">
							<figure class="card-img-top">
								<img class="img-fluid" src="/img/Tonio-plage-scaled-1-e1617365556257.jpg" srcset="/img/Tonio-plage-scaled-1-e1617365556257.jpg" alt="Antoine Perochon karate"></figure>
							<div class="card-body px-6 py-5">
								<h4 class="mb-1">Antoine Perochon</h4>
								<p class="mb-5">Responsable technique Karaté-Do - 3<sup>ème</sup> Dan Karaté-Do</p>
								<p>Antoine Perochon est professionnel de santé, kinésithérapeute et ostéopathe,
									spécialisé dans la thérapie sportive. Il a travaillé auprès de plusieurs équipes
									nationales, notamment de Judō et de Taekwondo, au sein du pôle médical de l’Institut
									National du Sport, de l’Expertise et de la Performance (INSEP) Paris. Antoine a
									commencé l’étude du Karaté-Dō dans un Dōjō de la Japan Karate Association (JKA),
									sous la direction de Senseï Le Rolland. En arrivant à Aix, Antoine intègre l’Ecole
									Shin Kyo Budo, dirigé par Jean-Baptiste Chikhi-Budjeia. Quand ce dernier fonde le
									Ryu Shinkyokaï, il sollicite Antoine pour l’élaboration d’une Académie d’une même
									nom, pensée comme une Université des arts martiaux. Dans cette organisation,
									Antoine Perochon est nommé responsable technique Karaté-Do.</p>
								<p>Il est également titulaire du 2<sup>ème</sup> Dan IMAF Japon, du diplôme d’instructeur
									fédéral (DIF) FFK et d’une carte professionnelle d’éducateur sportif.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="position-relative">
						<div class="shape rounded bg-soft-violet rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<div class="card">
							<figure class="card-img-top"><img class="img-fluid" src="/img/Alison-Dojo-2.jpg" srcset="/img/Alison-Dojo-2.jpg" alt=""></figure>
							<div class="card-body px-6 py-5">
								<h4 class="mb-1">Alison Marco</h4>
								<p class="mb-0">Responsable technique Aïkido- 4<sup>ème</sup> Dan Aïkido</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock body %}
