{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Équipe
{% endblock %}

{% block nav_class %}
	transparent navbar-dark navbar-bg-dark bg-black
{% endblock %}

{% block body %}
	
	<style>
        figure img {
            height: 300px !important;
            object-fit: cover;
        }
	</style>
	
	<section id="snippet-1" class="wrapper bg-dark wrapper-border">
		<div class="container pt-15 pt-md-17 pb-13 pb-md-15">
			<div class="row mb-3">
				<div class="col-md-10 col-lg-12 col-xl-10 col-xxl-9 mx-auto text-center">
					<h2 class="fs-15 text-uppercase text-muted mb-3">Notre équipe</h2>
					<h3 class="display-4 mb-7 px-lg-19 px-xl-18 text-red">Les cadres de Shinkyokaï</h3>
				</div>
			</div>
			<div class="row grid-view gx-md-8 gx-xl-10 gy-8 gy-lg-0">
				<div class="col-md-6 col-lg-3">
					<div class="position-relative">
						<div
								class="shape rounded bg-soft-blue rellax d-md-block"
								data-rellax-speed="0"
								style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0;
								transform: translate3d(0px, 0px, 0px);"
						></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#JB">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/JB-rideau-noir-scaled.jpeg"
											srcset="/img/JB-rideau-noir-scaled.jpeg"
											alt="Jean-Baptiste Chikhi-Budjeia en posture karaté avec le kimono Shinkyokaï"
									>
								</figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">J.-B. Chikhi-Budjeia</h4>
									<p class="mb-4 text-black">Président-fondateur Shinkyokaï<br>
										5<sup>e</sup> Dan Karaté-Do, Renshi
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="position-relative">
						<div class="shape rounded bg-soft-red rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#Michon">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/yiseishindo.png"
											srcset="/img/yiseishindo.png"
											alt="yiseishindo"
									>
								</figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">Jean-Baptiste Michon</h4>
									<p class="mb-5">Directeur technique Shinkyokaï<br>5<sup>e</sup> Dan FEKAMT Yiseishindo</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="position-relative">
						<div class="shape rounded bg-soft-green rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#Antoine">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/Tonio-plage-scaled-1-e1617365556257.jpg"
											srcset="/img/Tonio-plage-scaled-1-e1617365556257.jpg"
											alt="Antoine Perochon karate"
									></figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">Antoine Perochon</h4>
									<p class="mb-5">Responsable technique Karaté-Do <br> 3<sup>e</sup> Dan Karaté-Do</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="position-relative">
						<div class="shape rounded bg-soft-violet rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></div>
						<a href="#" data-bs-toggle="modal" data-bs-target="#Alison">
							<div class="card">
								<figure class="card-img-top">
									<img
											class="img-fluid"
											src="/img/Alison-Dojo-2.jpg"
											srcset="/img/Alison-Dojo-2.jpg" alt="Alison Marco dojo"
									>
								</figure>
								<div class="card-body px-6 py-5">
									<h4 class="mb-1">Alison Marco</h4>
									<p class="mb-0">Responsable technique Aïkido <br> 4<sup>e</sup> Dan Aïkido</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="modal fade" id="JB" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/JB-rideau-noir-scaled.jpeg"
								srcset="/img/JB-rideau-noir-scaled.jpeg"
								alt="Jean-Baptiste Chikhi-Budjeia en posture karaté avec le kimono Shinkyokaï"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Jean-Baptiste Chikhi-Budjeia</h4>
					<p class="mb-4">Président, fondateur Shinkyokaï – 5<sup>e</sup> Dan Karaté-Do, Renshi</p>
					<p>Jean-Baptiste Chikhi-Budjeia pratique le Karaté-Dō depuis 25 ans. Si sa spécialité
						est le Shotokan-Ryu, il a pu étudier, à l’occasion de stages notamment avec des
						maîtres japonais, quelques fondamentaux des styles Wado, Shito et même Goju.</p>
					<p>Il s’intéresse également aux Kobudō. Sa recherche l’a conduit à découvrir le
					Nihon-Jujutsu, l’Aïkidō, le Ninjutsu, le Tang Soo Do, le Taekwondo ou encore le Taï-Chi-Chuan et
						le I-Chuan, dans le but d’enrichir sa pratique, son Karaté-Dō, et ainsi
					d’ouvrir ses perspectives. Sa démarche est celle d’un passionné désireux de transmettre
					et de partager. Cela l’a conduit à créer le Ryu ou style Shinkyokaï, porté par
					l’Académie du même nom, ouverte à plusieurs arts martiaux, essentiellement japonais.
					Ce Ryu est né de l’École de Karaté-Do aixoise, Shin Kyo Budo, membre de l’Aix Université
					Club.
					</p>
					<p>Il suit l’enseignement de Bertrand WEISS Kyoshi, 7<sup>e</sup> Dan IMAF Japon. Jean-Baptiste
						Chikhi-Budjeia est également 3<sup>e</sup> Dan Yiseishindo et 1<sup>er</sup> Degré SDK Krav
						Maga.</p>
					<p>Il est titulaire du Diplôme d’État de la Jeunesse, de l’Éducation Populaire et du
						Sport (DEJEPS) « Karaté et Disciplines associées ». Éducateur sportif, il est
						également titulaire du BPJEPS « Activités physiques pour Tous ».</p>
					<p>Jean-Baptiste Chikhi-Budjeia a eu l’honneur de présenter en 2017 son 4<sup>e</sup> Dan Kokusaï
						Budoin IMAF (Japon) devant Maître HIGUCHI Ikuo, 9<sup>e</sup> Dan Kokusaï Budoin IMAF,
						Hanshi, l’un des disciples de Maître GIMA Makoto, LE premier 1er Dan de Karaté
						de l’Histoire, assistant de Maître FUNAKOSHI Gichin lui-même.</p>
					<p>C’est également devant de grands experts de Karaté-Do qu’il a présenté, en 2023, le
					5<sup>e</sup> Dan : Bertrand Weiss pour le grade IMAF Japon, Dominique Valera,
					10<sup>e</sup> Dan, pour le grade FFK, puis, en 2024, Sun Woo Delneufcourt,
					7<sup>e</sup> Dan, et Robert Dejardin, 6<sup>e</sup> Dan, tous deux Kyoshi, pour le
					Grade Daï Nippon Butoku Kaï (DNBK).</p>
					<p>En 2024, la DNBK lui décerne le titre de Renshi en Karaté-Do, soit « expert ».</p>
					<p>Historien moderniste (il rédige actuellement une thèse de Doctorat sur la Révolution
						française à Aix), il a publié son premier livre pour les Editions Landogne, La Plume
						et le Sabre, deux armes indissociables pour avancer sur la Voie du Guerrier,
						Collection Savoir (Cf. onglet « Actualités »). Son deuxième ouvrage, Shogun,
						introduction à une politique de la guerre dans le Japon des samuraï, est paru au
						Lys bleu Editions en septembre 2021.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Michon" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/yiseishindo.png"
								srcset="/img/yiseishindo.png"
								alt="Jean-Baptiste Michon Yiseishindo"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Jean-Baptiste Michon</h4>
					<p class="mb-4"></p>
					<p></p>
					<p></p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Antoine" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/Tonio-plage-scaled-1-e1617365556257.jpg"
								srcset="/img/Tonio-plage-scaled-1-e1617365556257.jpg"
								alt="Antoine Perochon karaté à la plage"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Antoine Perochon</h4>
					<p class="mb-4">Responsable technique Karaté-Do <br> 3<sup>e</sup> Dan Karaté-Do</p>
					<p>Antoine Perochon est professionnel de santé, kinésithérapeute et ostéopathe, spécialisé dans la
						thérapie sportive. Il a travaillé auprès de plusieurs équipes nationales, notamment de Judō et
						de Taekwondo, au sein du pôle médical de l’Institut National du Sport, de l’Expertise et de la
						Performance (INSEP) Paris. Antoine a commencé l’étude du Karaté-Dō dans un Dōjō de la Japan
						Karate Association (JKA), sous la direction de Senseï Le Rolland. En arrivant à Aix, Antoine
						intègre l’École	Shin Kyo Budo, dirigé par Jean-Baptiste Chikhi-Budjeia. Quand ce dernier fonde
						le Ryu Shinkyokaï, il sollicite Antoine pour l’élaboration d’une Académie d’une même nom, pensée
						comme une Université des arts martiaux. Dans cette organisation, Antoine Perochon est nommé
						responsable technique Karaté-Do.</p>
					<p>Il est également titulaire du 2<sup>e</sup> Dan IMAF Japon, du diplôme d’instructeur
						fédéral (DIF) FFK et d’une carte professionnelle d’éducateur sportif.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Alison" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-left">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<figure class="card-img-top">
						<img
								class="img-fluid"
								src="/img/Alison-Dojo-2.jpg"
								srcset="/img/Alison-Dojo-2.jpg"
								alt="Alison Marco dojo"
								style="height: 100% !important;"
						>
					</figure>
					<h4 class="mt-5 mb-1">Alison Marco</h4>
					<p class="mb-4"></p>
					<p>C’est en 2009 que j’ai ouvert la porte du dojo d’<em>aikido</em> pour la première fois.</p>
					<p>Je suis très vite devenue passionnée de cet art martial esthétique, efficace et très complet,
						qui m’apporte ses bienfaits : confiance en soi, bien-être, souplesse, fluidité, respect…
					</p>
					<p>Dès le début de ma pratique, j'ai compris que l’entraînement assidu et sérieux était nécessaire
						pour progresser, ce qui m’a poussé à suivre de nombreux stages. D’abord au sein de ma
						fédération, FFAB, pendant de nombreuses années, j'ai eu la chance de pouvoir suivre les
						enseignements des élèves de Maître Tamura, puis, toujours en quête de nouveaux apprentissages,
						j’ai participé à de nombreux stages d’experts internationaux de notre discipline
						(M. Kuribayashi, M. Yamada, M. Irie, M. Miyamoto, M. Tissier ainsi que le futur Doshu M. Waka
						Sensei…).
					</p>
					<p>
						J’ai obtenu ma ceinture noire en 2012, en parallèle, j’étais en formation pour le Brevet
						Fédéral que j’ai décroché l’année suivante en 2013. J’enseignais dans la section enfant de mon
						club, il était donc logique de me former à l’enseignement.
					</p>
					<p>
						Après l’obtention du Brevet Féderal, j’ai continué dans la même énergie, beaucoup d’heures
						d’entraînement, de stages et j’ai continué à évoluer dans les grades jusqu’à obtenir le grade
						de <em>Yondan</em> (4<sup>e</sup> dan) en 2022.
					</p>
					<p>
						J’ai intégré le Comité directeur du CID Provence Aikido en 2017 et joue un rôle actif pour
						notre discipline.
					</p>
					<p>
						Au fil du temps, je ne cesse de découvrir de nouveaux points à travailler, à peaufiner.
					</p>
					<p>
						J’ai toujours axé mon travail sur le rôle d'<em>Aïte</em> (celui qui attaque) ; j’aime sentir
						le mouvement, cela m’aide pour la compréhension des techniques. Je porte également un grand
						intérêt pour le travail des armes, notamment le <em>bokken</em> (sabre).
					</p>
					<p>
						Grâce à l'<em>aikido</em>, j’ai découvert de nombreuses facettes de moi-même, à l’image même de
						la discipline. Ce sont tout plein de détails qui forment la pratique. J’ai souvent entendu que
						l’<em>aikido</em> n’est pas qu’une pratique en dojo. Et en effet, la progression et la
						compréhension au fil des années m’ont fait entrevoir au-delà du voile.
					</p>
					<p>
						L’enseignement est une partie importante dans mon parcours et je pense que c’est aussi grâce aux
						élèves que je continue de progresser. Corriger les autres, c'est réussir à voir les erreurs,
						ce qui renvoie à soi-même et à ses propres erreurs, c’est donc un échange dans un but commun.
					</p>
					<p>
						Dans l’enseignement, je privilégie le côté académique de la discipline qui permet de structurer
						la pratique, ainsi que le dynamisme pour développer l’harmonie dans le mouvement. J’aime à
						reprendre cette phrase du fondateur de l'<em>aïkido</em> : « pratiquez dans la joie ! ».
					</p>
					<p>
						C’est grâce à l'<em>aikido</em> que j’ai évolué, et suis très fière de faire partie de la
						famille des <em>aikidoka</em>, car il serait injuste de ne pas rappeler que sans les autres,
						nous ne sommes rien, c’est surtout pour les autres que je souhaite progresser afin que nous
						puissions tous nous élever grâce à cet art martial qui nous unit.
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock body %}
