{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Événements
{% endblock %}

{% block nav_class %}
	transparent navbar-dark navbar-bg-dark
{% endblock %}

{% block body %}
	
	<style>
        figure a img {
            height: 500px !important;
            object-fit: cover;
        }
	</style>
	
	<section class="wrapper bg-soft-primary">
		<div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
			<div class="row">
				<div class="col-md-7 col-lg-6 col-xl-5 mx-auto">
					<h1 class="display-1 mb-3">Événements / Calendrier</h1>
					<p class="lead px-lg-5 px-xxl-8">Tous nos évènements sont ouverts aux pratiquants de toutes les
						fédérations. Un tarif préférentiel est accordé aux membres <strong><em>Shinkyokaï</em></strong>.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper bg-light">
		<div class="container pb-14 pb-md-16">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<div class="blog classic-view mt-n17">
						<article class="post">
							<div class="card">
								<figure class="card-img-top overlay overlay-1 hover-scale">
									<a class="link-dark" href="#">
										<img src="/img/skk-affiche.JPG" alt="Shinkyokai affiche" />
									</a>
									<figcaption>
										<h5 class="from-top mb-0"></h5>
									</figcaption>
								</figure>
								<div class="card-body">
									<div class="post-header">
										<div class="post-category text-line">
											<a href="#" class="hover" rel="category">Arts martiaux</a>
										</div>
										<h2 class="post-title mt-1 mb-0">
											<a class="link-dark" href="#">
												23 NOVEMBRE 2024 – Les arts martiaux contre le cancer
											</a>
										</h2>
									</div>
									<div class="post-content">
										JB Michon, 5<sup>e</sup> Dan FEKAMT Yiseishindo<br>
										Alison Marco, 4<sup>e</sup> Dan Aïkido<br>
										Pierre-Yves Campagnac, 6<sup>e</sup> Dan Taïkikan Kyoshi<br>
										JB Chikhi-Budjeia 5<sup>e</sup> Dan Karaté-Do Renshi
									</div>
								</div>
							</div>
						</article>
						
						
						<article class="post">
							<div class="card">
								<figure class="card-img-top overlay overlay-1 hover-scale">
									<a class="link-dark" href="#">
										<img src="/img/Programme-Harumatsuri-845x321.png" alt="programme Harumatsuri" />
									</a>
									<figcaption>
										<h5 class="from-top mb-0"></h5>
									</figcaption>
								</figure>
								<div class="card-body">
									<div class="post-header">
										<div class="post-category text-line">
											<a href="#" class="hover" rel="category">Arts martiaux & culturels</a>
										</div>
										<h2 class="post-title mt-1 mb-0">
											<a class="link-dark" href="#">
												14 AVRIL 2024 – HARUMATSURI, Festival du Printemps, Arts martiaux et
												culturels du Japon
											</a>
										</h2>
									</div>
									<div class="post-content">
										Nous vous amenons le Japon à Aix. A l’occasion de notre Harumatsuri (festival du Printemps), nous vous proposons de pratiquer des arts japonais, sur les versants martial et culturel. Un petit aperçu (prévisionnel) :
										<br><br>
										<strong>Arts martiaux :</strong><br>
										– Karaté-Do<br>
										– Iaïdo<br>
										– Judo<br>
										– Aïkido<br>
										– Taïkibudo<br>
										– Yiseishindo<br>
										<br>
										<strong>Arts culturels :</strong><br>
										– Origami<br>
										– Peinture<br>
										– Manga<br>
										– Cuisine<br>
										– Histoire<br>
										– Calligraphie<br>
										– Découverte Shiatsu<br>
										– Langue<br>
										<br>
										Les ateliers répartis sur le même espace vous permettront d’évoluer, toutes les 45 minutes, d’un art à l’autre, en passant du martial au culturel, du culturel au martial, ou en restant sur le même domaine d’activités, encadré par des experts.
										<br><br>
										Une cérémonie officielle vous permettra de savourer un peu plus encore de la culture du Japon. Vous pourrez vous restaurer sur place, notamment auprès d’un « food truck »… japonais !
										<br><br>
										Le Harumatsuri d’Aix en Provence est organisé par Shinkyokaï, Académie d’arts martiaux, en partenariat avec l’Aix Université Club (AUC), avec le soutien de la Ville d’Aix en Provence et du Consulat du Japon (Marseille). Harumatsuri  est inscrit dans le programme Terre de Jeux 2024. Nous vous attendons (vraiment) (très) nombreux !
										<br><br>
										Renseignements et inscription :
										shinkyokai.academie@gmail.com/0611193652
										<br>
										Au plaisir de partager autour de notre passion commune, le Pays du Soleil Levant.
										<br>
										<a href="https://harumatsuri.shinkyokai.fr">https://harumatsuri.shinkyokai.fr</a>
										<br>
										<br>
										
										JB Chikhi-Budjeia <br>
										Directeur technique Shinkyokaï, 5ème Dan Karaté-Do, Renshi
										<br><br>
										Logo événement : Laetitia Maestroni
									</div>
								</div>
							</div>
						</article>
						<article class="post">
							<div class="card">
								<figure class="card-img-top overlay overlay-1 hover-scale">
									<a class="link-dark" href="#">
										<img src="/img/StageCombat-728x1030.png" alt="stage combat karaté" />
									</a>
									<figcaption>
										<h5 class="from-top mb-0">En savoir plus</h5>
									</figcaption>
								</figure>
								<div class="card-body">
									<div class="post-header">
										<div class="post-category text-line">
											<a href="#" class="hover" rel="category">Arts martiaux</a>
										</div>
										<h2 class="post-title mt-1 mb-0">
											<a class="link-dark" href="#">
												16 MARS 2024 – COMBAT
											</a>
										</h2>
									</div>
									<div class="post-content">
										16 mars 2024<br>
										<br>
										Stage jyu kumité (combat)<br>
										<br>
										Aix en Provence
										<br>
										<br>
										Jean-Baptiste Chikhi-Budjeia, 5ème Dan Karaté-Do, Renshi, et Antoine Perochon, 3ème Dan Karaté-Do, proposeront un stage combat à destination des adolescents (11-15 ans). Travail de renforcement musculaire, cardia-training, phases pieds-poings, sol, le tout enrichi par des éléments de stratégie, seront au coeur de cet événement. 14h00-17h00 (accueil à partir de 13h30).
										<br>
										<br>
										Tarifs stages<br>
										<br>
										10€ membres Shinkyokaï, 15€ non membres.
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="blog grid grid-view">
						<div class="row isotope gx-md-8 gy-8 mb-8">
							<article class="item post col-md-6">
								<div class="card">
									<figure class="card-img-top overlay overlay-1 hover-scale">
										<a href="#">
											<img src="/img/Affiche-Bertrand-2.png" alt="stage karaté bertrand weiss" />
										</a>
										<figcaption>
											<h5 class="from-top mb-0">En savoir plus</h5>
										</figcaption>
									</figure>
									<div class="card-body">
										<div class="post-header">
											<div class="post-category text-line">
												<a href="#" class="hover" rel="category">Arts martiaux</a>
											</div>
											<h2 class="post-title h3 mt-1 mb-3">
												<a class="link-dark" href="#">
													27 JANVIER 2024 – KARATE-DO
												</a>
											</h2>
										</div>
										<div class="post-content">
											<p>
												27 janvier 2024<br>
												<br>
												Stage Karaté-Do<br>
												<br>
												Aix en Provence
												<br>
												<br>
												Bertrand Weiss, 7ème Dan IMAF Japon, Kyoshi, proposera un stage de Shotokan Karaté-Do : étude des fondamentaux, aptitude au combat et travail d’un kata supérieur. 10h00-17h00 (accueil à partir de 09h30).
												<br><br>
												Stage ouvert aux enfants de 10h00 à 11h15.
												<br>
												<br>
												
												Tarifs stages<br>
												<br>
												Karaté-Do : 15€ membres Shinkyokaï, 20€ non membres.
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="item post col-md-6">
								<div class="card">
									<figure class="card-img-top overlay overlay-1 hover-scale">
										<a href="#">
											<img src="/img/Alison-site-1030x1030.jpg" alt="stage aikido Alison" />
										</a>
										<figcaption>
											<h5 class="from-top mb-0">En savoir plus</h5>
										</figcaption>
									</figure>
									<div class="card-body">
										<div class="post-header">
											<div class="post-category text-line">
												<a href="#" class="hover" rel="category">Arts martiaux</a>
											</div>
											<h2 class="post-title h3 mt-1 mb-3">
												<a class="link-dark" href="#">
													18 novembre 2023 – AÏKIDO
												</a>
											</h2>
										</div>
										<div class="post-content">
											<p>
												18 novembre 2023<br>
												<br>
												Stage Aïkido<br>
												<br>
												Aix en Provence
												<br>
												<br>
												Alison Marco, 4ème Dan Aïkido, nous proposera un stage sur le rôle d’Aïte et l’importance du contact avec le partenaire.
												<br><br>
												14h00-17h00, Maison des Arts de Combat, rue Henri Moissan.
												<br><br>
												Tarif : 15€ membre Shinkyokaï, 20 € non membres.
												<br>
												
												Nous vous invitons à vous inscrire via notre formulaire de contact ou à shinkyokai.academie@gmail.com
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="item post col-md-6">
								<div class="card">
									<figure class="card-img-top overlay overlay-1 hover-scale">
										<a href="#">
											<img src="/img/Affiche-stage-Akermann-2023.jpg" alt="stage karaté akermann" />
										</a>
										<figcaption>
											<h5 class="from-top mb-0">En savoir plus</h5>
										</figcaption>
									</figure>
									<div class="card-body">
										<div class="post-header">
											<div class="post-category text-line">
												<a href="#" class="hover" rel="category">Arts martiaux</a>
											</div>
											<h2 class="post-title h3 mt-1 mb-3">
												<a class="link-dark" href="#">
													7 octobre 2023 – KARATE-DO
												</a>
											</h2>
										</div>
										<div class="post-content">
											<p>
												7 octobre 2023<br>
												<br>
												Stage Karaté-Do<br>
												<br>
												Aix en Provence
												<br>
												<br>
												Emmanuel Akermann, 5ème Dan de Karaté-Do et auteur, nous proposera un stage bunkaï à partir du kata Meïkyo. A partir du 3ème Kyu, 10h00-12h30.
												<br><br>
												Livres proposés à la dédicace.
												<br>
												<br>
												Tarifs stage : 15€ membres Shinkyokaï, 20€ non membres.
												<br>
												<br>
												Nous vous invitons à vous inscrire via notre formulaire de contact ou à shinkyokai.academie@gmail.com
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="item post col-md-6">
								<div class="card">
									<figure class="card-img-top overlay overlay-1 hover-scale">
										<a href="#">
											<img src="/img/Affiche-enfants.jpeg" alt="affiche enfants stage karate do" />
										</a>
										<figcaption>
											<h5 class="from-top mb-0">En savoir plus</h5>
										</figcaption>
									</figure>
									<div class="card-body">
										<div class="post-header">
											<div class="post-category text-line">
												<a href="#" class="hover" rel="category">Arts martiaux</a>
											</div>
											<h2 class="post-title h3 mt-1 mb-3">
												<a class="link-dark" href="#">
													10-13 juillet 2023 – SHINKYOKAÏ ENFANTS
												</a>
											</h2>
										</div>
										<div class="post-content">
											<p>
												Du 10 au 13 juillet 2023<br>
												<br>
												Stage Shinkyokaï Karaté-Do enfants<br>
												<br>
												Aix en Provence
												<br>
												<br>
												Shinkyokai académie d’arts martiaux vous propose un premier stage d’été des enfants, en Karaté-Dō, forme Shinkyokaï. Travail d’initiation au combat, sac de frappe, projections, … Du 10 au 13 juillet 2023 !
												<br>Animé par Jean-Baptiste Chikhi-Budjeia, 4ème Dan IMAF Japon, Renshi, Directeur technique Shinkyokaï, et Antoine Perochon, 2ème Dan IMAF Japon, Responsable technique du Karaté-Do pour Shinkyokaï Académie.
												<br>Nous vous invitons à nous contacter (places limitées) : informations sur l’affiche.
											</p>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock body %}
