{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Galerie
{% endblock %}

{% block nav_class %}
	navbar-gray navbar-bg-gray
{% endblock %}

{% block body %}
	
	<style>
        figure a img {
            height: 500px !important;
            object-fit: cover;
        }
	</style>
	
	<section class="wrapper bg-light">
		<div class="container py-14 py-md-16">
			<div class="grid grid-view projects-masonry">
				<div class="isotope-filter filter mb-10">
					<p>Filtrer :</p>
					<ul>
						<li><a class="filter-item active" data-filter="*">Tous</a></li>
						<li><a class="filter-item" data-filter=".visites">Visites</a></li>
						<li><a class="filter-item" data-filter=".conferences">Conférences</a></li>
						<li><a class="filter-item" data-filter=".autres">Autres</a></li>
					</ul>
				</div>
				<div class="row gx-md-10 gy-10 gy-md-13 isotope">
					<div class="project item col-md-6 visites">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_4138.jpeg">
								<img src="/img/IMG_4138.jpeg" alt="Frédéric Couvert devant la statue de Siméon
								place de Verdun à Aix-en-Provence" />
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-purple">Visites</div>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 conferences">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_4179.jpeg">
								<img src="/img/IMG_4179.jpeg" alt="Conférence sur Siméon" />
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-leaf">Conférences</div>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 visites">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_0880.jpeg">
								<img src="/img/IMG_0880.jpeg" alt="Visite château de la mignarde" />
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-violet">Visites</div>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 conferences">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_4168.jpeg">
								<img src="/img/IMG_4168.jpeg" alt="Conférence sur Portalis  " />
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-yellow">Conférences</div>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 visites">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_7504.jpeg">
								<img src="/img/IMG_7504.jpeg" alt="Frédéric Couvert en face de l'ancien hôtel Forbin" />
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-yellow">Visites</div>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 visites">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_4163.jpg">
								<img src="/img/IMG_4163.jpg" alt="Frédéric Couvert devant la plaque sur la légion
								d'honneur place de l'archevêché à Aix-en-Provence" />
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-yellow">Visites</div>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 autres">
						<figure class="lift rounded mb-6">
							<a href="/img/fred-couvert-et-stephane-bern.JPG">
								<img src="/img/fred-couvert-et-stephane-bern.JPG" alt="rencontre frédéric couvert
								et stéphane bern" />
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-yellow">Autres</div>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 autres">
						<figure class="lift rounded mb-6">
							<a href="/img/christian-et-fred.avif">
								<img src="/img/christian-et-fred.avif" alt="frédéric couvert et christian heuzé" />
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-yellow">Autres</div>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 autres">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_4165.jpeg">
								<img src="/img/IMG_4165.jpeg" alt="journées du patrimoine" />
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-yellow">Autres</div>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 visites">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_0787.jpeg">
								<img src="/img/IMG_0787.jpeg" alt="château de la mignarde pauline bonaparte" />
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category text-line mb-3 text-yellow">Visites</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock body %}
