{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Galerie
{% endblock %}

{% block nav_class %}
	navbar-gray navbar-bg-gray
{% endblock %}

{% block body %}
	
	<section>
		<p></p>
	</section>

{% endblock body %}
