{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Découverte Sumi-e
{% endblock %}

{% block nav_class %}
	transparent navbar-dark navbar-bg-dark
{% endblock %}

{% block body %}
	
	<section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-400 text-white bg-dark">
		<div class="container pt-17 pb-20 pt-md-19 pb-md-21 text-center">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h1 class="display-1 mb-3 text-white">Atelier découverte Sumi-e</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper bg-light angled upper-end">
		<div class="container pb-11">
			<div class="row mb-14 mb-md-16">
				<div class="col-xl-10 mx-auto mt-n19">
					<div class="card">
						<div class="row gx-0">
							<div class="col-lg-12">
								<img
										class="logo-light"
										src="/img/activites-giorgi.png"
										srcset="/img/activites-giorgi.png"
										alt="activites sumi-e"
										style="width: 100%;"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="row mt-12">
				<div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
					<h2 class="display-4 mb-3 text-center">S'inscrire à l'atelier découverte</h2>
					
					<!-- Flash message de succès -->
					<div id="flash-message" class="alert alert-success text-center" style="display:none;">
						Votre message a été envoyé avec succès !
					</div>
					
					<p class="lead text-center mb-10">Vous souhaitez vous inscrire et participer au prochain atelier ?
						Envoyez-nous un message à l'aide de ce formulaire. L'inscription est gratuite !</p>
					
					<div class="row gx-4">
						<div class="col-md-6">
							<div class="form-floating mb-4">
								<input id="form_name" type="text" name="name" class="form-control" placeholder="Jean" required>
								<label for="form_name">Prénom *</label>
								<div class="valid-feedback"> C'est bon ! </div>
								<div class="invalid-feedback"> Veuillez entrer votre prénom. </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-floating mb-4">
								<input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Durand" required>
								<label for="form_lastname">Nom de famille *</label>
								<div class="valid-feedback"> C'est bon ! </div>
								<div class="invalid-feedback"> Veuillez entrer votre nom de famille. </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-floating mb-4">
								<input id="form_email" type="email" name="email" class="form-control" placeholder="jean.durand@exemple.fr" required>
								<label for="form_email">Email *</label>
								<div class="valid-feedback"> C'est bon ! </div>
								<div class="invalid-feedback"> Veuillez entrer une adresse électronique valide.  </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-select-wrapper mb-4">
								<select class="form-select" id="form-select" name="department" required>
									<option disabled value="">Sélectionner un sujet.</option>
									<option value="Arts martiaux" selected>Inscription mercredi 16 octobre</option>
								</select>
								<div class="valid-feedback"> C'est bon ! </div>
								<div class="invalid-feedback"> Veuillez sélectionner une région. </div>
							</div>
						</div>
						<div class="col-12">
							<div class="form-floating mb-4">
								<textarea id="form_message" name="message" class="form-control" placeholder="Votre message" style="height: 150px" required></textarea>
								<label for="form_message">Message *</label>
								<div class="valid-feedback"> C'est bon ! </div>
								<div class="invalid-feedback"> Veuillez entrer votre message. </div>
							</div>
						</div>
						<div class="col-12 text-center">
							<button id="submit-btn" class="btn btn-primary rounded-pill btn-send mb-3">Envoyer le message</button>
							<p class="text-muted"><strong>*</strong> Ces champs sont requis.</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>

<section class="wrapper bg-light angled upper-end mt-20">
	<div class="container pb-11">
		<div class="row mb-14 mb-md-16">
			<div class="col-xl-10 mx-auto mt-n19">
				<div class="card">
					<div class="row gx-0">
						<div class="col-lg-6 align-self-stretch">
							<div class="map map-full rounded-top rounded-lg-start">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5333.557798102193!2d5.4501504758849215!3d43.52784047110839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c98dbe16822563%3A0xd82c5ea6b8185463!2s12%20Rue%20de%20la%20C%C3%A9p%C3%A8de%2C%2013100%20Aix-en-Provence!5e1!3m2!1sfr!2sfr!4v1728336969058!5m2!1sfr!2sfr" style="width:100%; height: 100%; border:0" allowfullscreen></iframe>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="p-10 p-md-11 p-lg-14">
								<div class="d-flex flex-row">
									<div>
										<div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
									</div>
									<div class="align-self-start justify-content-start">
										<h5 class="mb-1">Adresse</h5>
										<address>12, rue de la Cépède, 13100 Aix-en-Provence, France</address>
									</div>
								</div>
								<div class="d-flex flex-row">
									<div>
										<div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
									</div>
									<div>
										<h5 class="mb-1">Téléphone</h5>
										<p><a href="tel:+33611193652">06 11 19 36 52</a></p>
									</div>
								</div>
								<div class="d-flex flex-row">
									<div>
										<div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div>
									</div>
									<div>
										<h5 class="mb-1">Adresse électronique</h5>
										<p class="mb-0"><a href="mailto:shinkyokai.academie@gmail.com" class="link-body">shinkyokai.academie@gmail.com</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	
	<!-- Script AJAX -->
	<script>
        document.getElementById('submit-btn').addEventListener('click', function(event) {
            event.preventDefault();

            // Récupérer les valeurs des champs
            let data = {
                name: document.getElementById('form_name').value,
                surname: document.getElementById('form_lastname').value,
                email: document.getElementById('form_email').value,
                department: document.getElementById('form-select').value,
                message: document.getElementById('form_message').value
            };

            // Envoi des données via AJAX
            fetch('{{ path('app_decouverte') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(response => {
                    if (response.success) {
                        // Afficher le message flash de succès
                        document.getElementById('flash-message').style.display = 'block';
                    } else {
                        alert('Erreur lors de l\'envoi du message.');
                    }
                })
                .catch(error => {
                    console.error('Erreur:', error);
                    alert('Erreur lors de l\'envoi du message.');
                });
        });
	</script>

{% endblock %}
