{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Politique de confidentialité
{% endblock %}

{% block nav_class %}
	navbar-gray navbar-bg-gray
{% endblock %}

{% block body %}

	<section class="wrapper bg-gray">
		<div class="container pt-10 pb-12 pt-md-14 pb-md-16 text-center">
			<div class="row">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-auto">
					<h1 class="display-1 mb-3">Politique de confidentialité</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="row gx-0">
			<aside class="col-xl-3 sidebar sticky-sidebar mt-md-0 py-16 d-none d-xl-block">
				<div class="widget">
					<nav id="sidebar-nav">
						<ul class="list-unstyled text-reset">
							<li>
								<a class="nav-link scroll active" href="#terms-conditions">1. Informations éditoriales</a>
							</li>
							<li>
								<a class="nav-link scroll" href="#privacy-policy">2. Protection et traitement de données à caractère personnel</a>
							</li>
							<li>
								<a class="nav-link scroll" href="#user-policy">3. Informations Prestataires</a>
							</li>
							<li>
								<a class="nav-link scroll" href="#copyrights">4. Droits d’auteur et droits de reproduction</a>
							</li>
							<li>
								<a class="nav-link scroll" href="#cookies">5. Responsabilité face aux liens vers d’autres sites</a>
							</li>
							<li>
								<a class="nav-link scroll" href="#account-billing">6. Environnement technique</a>
							</li>
						</ul>
					</nav>
				</div>
			</aside>
			<div class="col-xl-8">
				<section id="terms-conditions" class="wrapper pt-16">
					<div class="card">
						<div class="card-body p-10">
							<h2 class="mb-3">1. Informations éditoriales</h2>
							<h3>Éditeur</h3>
							<p>Société Napoléonienne d'Aix-en-Provence</p>
							<h3>Directeur de publication</h3>
							<p>Marc Lassort</p>
						</div>
					</div>
				</section>
				<section id="privacy-policy" class="wrapper pt-16">
					<div class="card">
						<div class="card-body p-10">
							<h2 class="mb-3">2. Protection et traitement de données à caractère personnel</h2>
							<h3>Respect des lois en vigueur</h3>
							<p>Le site snaix.fr respecte la vie privée de l’internaute et se conforme strictement aux lois en vigueur sur la protection de la vie privée et des libertés individuelles. Aucune information personnelle n’est collectée à votre insu. Aucune information personnelle n’est cédée à des tiers. Les courriels, les adresses électroniques ou autres informations nominatives dont ce site est destinataire ne font l’objet d’aucune exploitation et ne sont conservés que pour la durée nécessaire à leur traitement.</p>
							<h3>Droit des internautes : droit d’accès et de rectification</h3>
							<p>La Société Napoléonienne d'Aix-en-Provence s’engage à ce que la collecte et le traitement de vos données, effectués à partir du site soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.</p>
							<p>Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles, vous pouvez contacter l'association Société Napoléonienne d'Aix-en-Provence par courriel societenapoleonienne.aix@gmail.com</p>
							<p>La politique du site snaix.fr est en conformité avec la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique.</p>
							<h3>Cookies</h3>
							<p>Lors de la consultation de notre site snaix.fr, des cookies sont déposés sur votre ordinateur, votre mobile ou votre tablette.</p>
							<p>Les seuls cookies utilisés par le site sont ceux destinés à la mesure d’audience et ne collectent pas de données personnelles. Les outils de mesures d’audience sont déployés afin d’obtenir des informations sur la navigation des visiteurs. Ils permettent notamment de comprendre comment les utilisateurs arrivent sur un site et de reconstituer leur parcours.</p>
							<h3>Définition d’un cookie</h3>
							<p>Un cookie est un fichier texte déposé sur votre ordinateur lors de la visite d’un site ou de la consultation d’une publicité. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette). Les cookies sont gérés par votre navigateur internet.</p>
							<p>Nous veillons dans la mesure du possible à ce que les prestataires de mesures d’audience respectent strictement la loi informatique et libertés du 6 janvier 1978 modifiée et s’engagent à mettre en œuvre des mesures appropriées de sécurisation et de protection de la confidentialité des données.</p>
							<h3>Paramétrer votre navigateur internet</h3>
							<p>Vous pouvez à tout moment choisir de désactiver ces cookies. Votre navigateur peut également être paramétré pour vous signaler les cookies qui sont déposés dans votre ordinateur et vous demander de les accepter ou pas. Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser systématiquement.</p>
							<p>En cas de refus de depôt de cookie, vous ne pourrez pas consulter le site snaix.fr. Afin de gérer les cookies au plus près de vos attentes nous vous invitons à paramétrer votre navigateur en tenant compte de la finalité des cookies.</p>
						</div>
					</div>
				</section>
				<section id="user-policy" class="wrapper pt-16">
					<div class="card">
						<div class="card-body p-10">
							<h2 class="mb-3">3. Informations Prestataires</h2>
							<p>L’hébergement est assuré par la société OVH.</p>
							<p>Le développement est assuré par Marc Lassort.</p>
							<p>La gestion des statistiques est assurée par Marc Lassort.</p>
						</div>
					</div>
				</section>
				<section id="copyrights" class="wrapper pt-16">
					<div class="card">
						<div class="card-body p-10">
							<h2 class="mb-3">4. Droits d’auteur et droits de reproduction</h2>
							<h3>Droits de reproduction des publications</h3>
							<p>Le graphisme, l’iconographie ainsi que le contenu éditorial demeurent la propriété de la Société Napoléonienne d'Aix-en-Provence, et, à ce titre, font l’objet des protections prévues par le Code de la propriété intellectuelle. Si la reprise de ces contenus de façon partielle ou intégrale est autorisée, elle doit être obligatoirement assortie de la mention du nom de l’auteur, de la source, et éventuellement d’un lien renvoyant vers le document original en ligne sur le site. La mention "© snaix.fr" devra donc être indiquée. Tous les autres contenus présents sur le site sont couverts par le droit d’auteur. Toute reprise est dès lors conditionnée à l’accord de l’auteur en vertu de l’article L.122-4 du Code de la propriété Intellectuelle. Les informations utilisées ne doivent l’être qu’à des fins personnelles, associatives ou professionnelles ; toute diffusion ou utilisation à des fins commerciales ou publicitaires étant interdites.</p>
							<h3>Demande d’autorisation de reproduction du logo</h3>
							<p>Si, dans le cadre d’une communication officielle, vous avez besoin d’utiliser le logotype de la Société Napoléonienne d'Aix-en-Provence pour tous supports internes et externes (brochures, publications, sites, etc.), merci d’envoyer votre demande à l’adresse suivante : societenapoleonienne.aix@gmail.com.</p>
							<h3>Demande d’autorisation de reproduction des contenus</h3>
							<p>Toute copie partielle ou intégrale sur support papier ou sous forme électronique de pages du site doit faire l’objet d’une déclaration auprès du webmaster.</p>
							<p>Les demandes d’autorisation de reproduction d’un contenu doivent être adressées à la direction de la Société Napoléonienne d'Aix-en-Provence, par courriel à societenapoleonienne.aix@gmail.com.</p>
							<p>La demande devra préciser le contenu visé ainsi que la publication ou le site sur lequel ce dernier figurera. Une fois cette autorisation obtenue, la reproduction d’un contenu doit obéir aux principes suivants :</p>
							<ul class="icon-list bullet-bg bullet-soft-primary">
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>gratuité de la diffusion ;</span>
								</li>
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>respect de l’intégrité des documents reproduits (aucune modification, ni altération d’aucune sorte) ;</span>
								</li>
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>mention obligatoire : "© snaix.fr - Tous droits réservés". Cette mention pointera grâce à un lien hypertexte directement sur le contenu.</span>
								</li>
							</ul>
							
							<h3>Crédits photos et illustrations</h3>
							<p>Toutes les illustrations du site sont propriété de leurs auteurs et sont utilisées avec leur aimable autorisation. Pour les photos utilisées en page d’accueil et sur toutes les autres pages (sauf indication contraire) :</p>
							<p>© snaix.fr</p>
							
							<h3>Création de liens vers le site</h3>
							<p>Le site snaix.fr autorise, sans autorisation préalable, la mise en place de liens hypertextes pointant vers ses pages, sous réserve de :</p>
							<ul class="icon-list bullet-bg bullet-soft-primary">
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>ne pas utiliser la technique du lien profond, c’est-à-dire que les pages du site snaix.fr ne doivent pas être imbriquées à l’intérieur des pages d’un autre site, mais visibles par l’ouverture d’une fenêtre indépendante.</span>
								</li>
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>mentionner la source qui pointera grâce à un lien hypertexte directement sur le contenu visé.</span>
								</li>
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>ne pas utiliser le logotype de la Société Napoléonienne d'Aix-en-Provence sans autorisation</span>
								</li>
							</ul>
							<p>Les sites qui font le choix de pointer vers snaix.fr engagent leur responsabilité dès lors qu’ils porteraient atteinte à l’image du site public.</p>
						</div>
					</div>
				</section>
				<section id="cookies" class="wrapper pt-16">
					<div class="card">
						<div class="card-body p-10">
							<h2 class="mb-3">5. Responsabilité face aux liens vers d’autres sites</h2>
							<p>Le site snaix.fr peut occasionnellement proposer des liens vers d’autres sites, des sites officiels (gouvernement, institutions, organismes publics, etc.) mais aussi vers des sites, français ou étrangers, d’associations, d’organismes et de journaux en ligne qui se revendiquent d'une ligne républicaine, laïque, démocrate et sociale.</p>
							<p>Chaque fois, il est systématiquement précisé vers quel site nous vous proposons d’aller. Ces pages, dont les adresses sont régulièrement vérifiées, ne font pas partie du site snaix.fr : elles n’engagent pas la responsabilité de la rédaction du site qui ne peut être tenue pour responsable des contenus vers lesquels ces liens pointent. Ils ne visent qu’à permettre à l’internaute d’accéder plus facilement à d’autres ressources documentaires sur le sujet consulté.</p>
						</div>
					</div>
				</section>
				<section id="account-billing" class="wrapper py-16">
					<div class="card">
						<div class="card-body p-10">
							<h2 class="mb-3">6. Environnement technique</h2>
							<p>Ce site est optimisé pour un affichage en 1024x768. Il est prévu pour les principaux navigateurs Microsoft Internet Explorer 9 (et au-dessus), Google Chrome et Mozilla Firefox.</p>
							<p>Le site contient des fichiers au format P.D.F. (portable document format) permettant de consulter et d’imprimer un fichier sur tout type de matériel, plate-forme et équipement divers. Pour lire ce format, il faut disposer du logiciel gratuit Adobe® Reader®.</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

{% endblock body %}
