{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Produits
{% endblock %}

{% block nav_class %}
	navbar-gray navbar-bg-gray
{% endblock %}

{% block canonical %}
	https://snaix.fr/produits
{% endblock %}

{% block ogtitle %}
	Produits • Société Napoléonienne d'Aix-en-Provence
{% endblock %}

{% block ogdescription %}
	Sur cette page, vous pourrez retrouver tous nos produits dérivés (ou goodies) comme des tasses, des stickers.
	Grâce à ces achats, vous financez notre association et nous permettez de continuer à promouvoir le patrimoine napoléonien de la Ville et du Pays d'Aix.
{% endblock %}

{% block body %}
	
	<section class="wrapper bg-light">
		<div class="container pb-2 pb-md-2 pt-12">
			<h1 class="text-center display-1 fs-33 lh-xxs mb-0 pt-3">Produits</h1>
			<div class="container pb-2 pb-md-2 pt-12">
				<iframe
						id="haWidget"
						allowtransparency="true"
						src="https://www.helloasso.com/associations/sna-societe-napoleonienne-d-aix-en-provence/boutiques/produits-derives-sna/widget"
						style="width: 100%; height: 1000px; border: none;"
				></iframe>
			</div>
		</div>
	</section>
	
{% endblock body %}




