{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Ryu
{% endblock %}

{% block nav_class %}
	transparent position-absolute navbar-dark
{% endblock %}

{% block body %}
	
	<style>
        .image-wrapper {
            position: relative;
            background-size: cover;
            background-position: center;
        }

        .image-wrapper::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 1;
        }

        .image-wrapper .container {
            position: relative;
            z-index: 2;
        }
	</style>
	
	<section class="wrapper image-wrapper bg-image text-white" data-image-src="/img/Francois-Keikogi-2.jpeg">
		<div class="container pt-19 pt-md-21 pb-18 pb-md-20 text-center">
			<div class="row">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-auto">
					<h1 class="display-1 mb-3 text-red">Shinkyokaï Karaté-Dô</h1>
					<h2 class="text-red">Justice – Honneur – Sérénité</h2>
					<p class="lead px-md-3 px-lg-7 px-xl-9 px-xxl-10">
						<em>« Je ne suis pas un croyant en les systèmes. Je pense qu’il est très bon de sélectionner et choisir à partir de différents styles (…) »</em>
					</p>
					<p>Chuck Norris, <em>9<sup>e</sup> Dan Tang Soo Do</em></p>
					<p><em>5<sup>e</sup> Dan Karaté-Do</em>, Fondateur du <em>Chun Kuk Do</em></p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wrapper bg-black">
		<div class="container py-10">
			<div class="tab-content mt-6 mt-lg-8 mb-md-9">
				<div class="tab-pane fade show active" id="tab2-1" role="tabpanel">
					<div class="row gx-lg-8 align-items-center">
						<h4 class="mb-1 text-red" style="color: red;">Genèse du <em>Shinkyokaï</em></h4>
						<p class="text-white">Le <em>Karaté-Do</em> est un tout, il est un « art martial » cohérent
							et efficace. <em>Karaté-Do</em> est <em>YinYang</em> (<em>InYo</em>). Nous l’avons de
							longue date envisagé ainsi, à l’aune de l’harmonie. Si le combat est au cœur du
							<em>Karaté-Do</em>, les <em>Kata</em> en sont l’âme et, au-delà de l’efficacité martiale,
							qui n’est ni négociable, ni une option, même si elle ne peut être absolue, car conditionnée
							par nombre de paramètres, il y a la formation de l’Homme, l’apprentissage de la vertu.
						</p>
						<p class="text-white">Il n’y a pas d’opposition stérile entre tradition et évolution ; la
							tradition est vivante, sans quoi elle devient mortifère, l’évolution est connectée à ses
							racines, sans quoi elle aboutit au chaos. Nous prenons acte des remarques incessantes quant
							à « notre » <em>Karaté</em> et devons admettre ce que nous avons refusé de regarder en
							face : si nous avons bien une démarche soucieuse de renouer avec le <em>Karaté</em> des
							origines, nous avons conscience d’avoir formalisé un style, ce que l’on appelle en japonais
							un <em>Ryu</em>. Et c’est dans l’ordre naturel des choses ! Il en est ainsi depuis des
							siècles. Cela signifie avancer sur sa Voie, proposer un autre versant en direction du
							sommet, apporter sa pierre à l’édifice, et nullement renier ce qui a été fait auparavant,
							ce qui nous précède. C’est d’ailleurs pour cette raison que nous avons choisi pour notre
							Ryu un nom japonais, <em>Shinkyokaï</em>, « l’assemblée où l’on forge l’esprit ».
						</p>
						<h4 class="mb-1 text-red" style="color: red;">Essence du <em>Shinkyokaï Karaté-Do</em></h4>
						<p class="text-white">L'École ou <em>Ryu Shinkyokaï</em> est une forme ronde de <em>Karaté-Do</em> qui entend
							renouer avec l’essence guerrière de l’art, utile pour le corps à corps, et pleinement
							imprégnée de ses dimensions culturelle et philosophique. Ainsi, nous travaillons dans
							l’optique du combat, du corps à corps (y compris lorsque nous faisons des <em>bunkaï</em>,
							d’où une attention portée aux points vitaux, qui ne représentent pas une vérité absolue)
							et dans le but de former un Homme vertueux, c’est-à-dire juste, loyal, instruit.</p>
						<p class="text-white">Le <em>Keikogi</em> du <strong><em class="text-red" style="color: red;">Shinkyokaï</em></strong> exprime la
							conception taoïste (<em>YinYang</em>) de l’univers, cette identité que nous pensons être
							très marquée en <em>Karaté-Do</em>, et qui quoi qu’il en soit est intrinsèque du
							<strong><em class="text-red" style="color: red;">Shinkyokaï</em></strong>, d’où le choix du pantalon noir et
							de la veste (manches courtes) blanche, veste à col noir pour les ceintures noires. La veste
							sera brodée, côté cœur, de notre mon : l'<em>Enso</em>, le cercle <em>zen</em>, lui-même
							portant en son cœur les <em>kanji</em>
							<strong><em class="text-red" style="color: red;">« Shin Kyo Kaï »</em></strong>. Ainsi, notre cœur exprimera,
							déclarera, l’empreinte et les racines japonaises de notre Ryu, tandis que les <em>kanji
								Karaté-Do</em> signifiant « la Voie de la main de Chine », usage du « <em>Kara</em> »
							originel, seront brodés sur la manche gauche, pour rappeler les origines chinoises de notre
							Voie et les vertus confucéennes auxquelles nous sommes attachés. Du reste, ces
							<em>kanji</em> se lisent en coréen <em>Tang Soo Do</em>, une discipline qui a grandement
							influencé notre <em>Ryu</em>.</p>
						<h4 class="mb-1 text-red" style="color: red;">La Voie de l’Esprit libre</h4>
						<p class="text-white"><em>Karaté-Do</em> signifie littéralement « la Voie de la main vide »
							(en utilisant le <em>kanji Kara</em> pour « Vide »). Une fois la traduction opérée, demeure
							l’épineuse question de l’interprétation. Dès lors que l’on considère le concept « Vide »
							(<em>Kara</em>) sur le plan de la spiritualité martiale, on peut admettre que <em>te</em>,
							la main, est le prolongement de <em>shin</em>, l’esprit. <em>Mushin</em>, c’est
							« l’esprit pur », « l’esprit vide », « l’esprit libre ». Dès lors, <em>Karaté-Do</em>
							devient, par transposition au-delà de la traduction littérale, et c’est au cœur de la
							quête spirituelle et philosophique du <em>Shinkyokaï</em>, « la Voie de l’esprit libre »,
							sans contraintes.</p>
						<h4 class="mb-1 text-red" style="color: red;">Les principes fondamentaux du <em>Shinkyokaï
								Karaté-Do</em></h4>
						<p class="text-white">– La respiration</p>
						<p class="text-white">– Le relâchement</p>
						<p class="text-white">– L’ancrage</p>
						<p class="text-white">– Le cercle</p>
						<p class="text-white">– Le sabre</p>
						<p class="text-white">– La flèche</p>
						<p class="text-white">– La fluidité</p>
						<p class="text-white">– L’explosivité</p>
						<p class="text-white">– La détermination</p>
						<p class="text-white">– La vacuité</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wrapper bg-black">
		<div class="container py-10">
			<div class="tab-content mt-6 mt-lg-8 mb-md-9">
				<div class="tab-pane fade show active" id="tab2-1" role="tabpanel">
					<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
						<div class="col-lg-6">
							<h2 class="mb-3 text-red" style="color: red;">Ensô, « le Cercle »</h2>
							<p class="text-white">Aujourd'hui, si je devais illustrer en une image ma perception
								du <em>Karaté-Do</em>, et donc l’essence du
								<strong><em class="text-red" style="color: red;">Shinkyokaï</em></strong>,
								je choisirais donc l'<strong><em class="text-red" style="color: red;">Enso</em></strong>, littéralement
								« cercle », et ici le Cercle <strong><em class="text-red" style="color: red;">Zen</em></strong>.
								Un cercle au tracé déterminé, mais imparfait, avec des aspérités, et une légère
								ouverture. Au-delà de son origine bouddhiste qui place en son centre la vacuité,
								qui rappelle que le <em>kanji</em>
								<strong><em class="text-red" style="color: red;">Kara</em></strong> adopté dans les années 30 par
								Funakoshi Senseï signifie précisément « Vide », il fait écho à
								l'<strong><em class="text-red" style="color: red;">InYo</em></strong> —
								<strong><em class="text-red" style="color: red;">YinYang</em></strong> —, qui est l’un des deux symboles
								du <em>Shotokan-Ryu</em>. En japonais,
								<strong><em class="text-red" style="color: red;">Shoto</em></strong>, qui était le nom de plume de Maître
								Funakoshi, signifie « ondulation (du vent) dans les pins », ou « ondulation des pins »,
								ce qui renvoie <em>de facto</em> à une absence de rigidité,
								donc à des notions telles que fluidité, souplesse, détente, explosion, ouverture.
							</p>
							<p class="text-white">J.B. Chikhi-Budjeia</p>
							<p class="text-white">Fondateur <em>Shinkyokaï</em>,
								<strong><em class="text-red" style="color: red;">Renshi</em></strong></p>
						</div>
						<div class="col-lg-6">
							<h2 class="mb-3 text-red" style="color: red;">Notre Ensô, Shinkyokaï</h2>
							<div class="row gx-md-5 gy-5 align-items-center">
								<img
										class="img-fluid rounded d-flex ms-auto"
										src="/img/LOGO-SHIN-KYO-WHITE-TR.png"
										srcset="/img/LOGO-SHIN-KYO-WHITE-TR.png"
										alt="logo shin kyo white">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid px-md-6">
			<div
					class="swiper-container blog grid-view mb-17 mb-md-19 swiper-container-0"
					data-margin="30"
					data-nav="true"
					data-dots="true"
					data-items-xxl="3"
					data-items-md="2"
					data-items-xs="1"
			>
				<div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
					<div
							class="swiper-wrapper"
							id="swiper-wrapper-7f5dba5d2472b9cd"
							aria-live="off"
							style="cursor: grab;
							transform: translate3d(0px, 0px, 0px);"
					>
						<div
								class="swiper-slide swiper-slide-active"
								role="group"
								aria-label="1 / 7"
								style="width: 450px;
								margin-right: 30px;"
						>
							<figure class="rounded">
								<img style="height: 260px !important; object-fit: cover;"  src="/img/Bertrand-empi-uchi-e1694805130381.jpeg" alt="Bertrand Weiss empi uchi">
							</figure>
						</div>
						<div
								class="swiper-slide swiper-slide-next"
								role="group"
								aria-label="2 / 7"
								style="width: 450px;
								margin-right: 30px;"
						>
							<figure class="rounded"><img style="height: 260px !important; object-fit: cover;" src="/img/Nunchaku.jpg" alt=""></figure>
						</div>
						<div class="swiper-slide" role="group" aria-label="3 / 7" style="width: 450px; margin-right: 30px;">
							<figure class="rounded"><img style="height: 260px !important; object-fit: cover;" src="/img/Tsuki-Elitsa.jpeg" alt="Elitsa tsuki"></figure>
						</div>
						<div class="swiper-slide" role="group" aria-label="4 / 7" style="width: 450px; margin-right: 30px;">
							<figure class="rounded"><img style="height: 260px !important; object-fit: cover;" src="/img/AdobeStock_628972211.jpeg" alt="young girl karate in front of other karate kids"></figure>
						</div>
						<div class="swiper-slide" role="group" aria-label="5 / 7" style="width: 450px; margin-right: 30px;">
							<figure class="rounded"><img style="height: 260px !important; object-fit: cover;" src="/img/pexels-rdne-stock-project-8611379.jpg" alt="boxe francaise"></figure>
						</div>
					</div>
					<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
				<div class="swiper-controls">
					<div class="swiper-navigation">
						<div
								class="swiper-button swiper-button-prev swiper-button-disabled"
								tabindex="-1"
								role="button"
								aria-label="Previous slide"
								aria-controls="swiper-wrapper-7f5dba5d2472b9cd"
								aria-disabled="true"
						>
						</div>
						<div
								class="swiper-button swiper-button-next"
								tabindex="0"
								role="button"
								aria-label="Next slide"
								aria-controls="swiper-wrapper-7f5dba5d2472b9cd"
								aria-disabled="false"
						>
						</div>
					</div>
					<div
							class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets
							swiper-pagination-horizontal"
					>
						<span
								class="swiper-pagination-bullet swiper-pagination-bullet-active"
								tabindex="0"
								role="button"
								aria-label="Go to slide 1"
								aria-current="true"
						></span>
						<span
								class="swiper-pagination-bullet"
								tabindex="0"
								role="button"
								aria-label="Go to slide 2"
						></span>
						<span
								class="swiper-pagination-bullet"
								tabindex="0"
								role="button"
								aria-label="Go to slide 3"
						></span>
						<span
								class="swiper-pagination-bullet"
								tabindex="0"
								role="button"
								aria-label="Go to slide 4"
						></span>
						<span
								class="swiper-pagination-bullet"
								tabindex="0"
								role="button"
								aria-label="Go to slide 5"
						></span>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}

