{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	À propos
{% endblock %}

{% block nav_class %}
	navbar-gray navbar-bg-gray
{% endblock %}

{% block body %}
	
	<section class="wrapper bg-gray">
		<div class="container pt-10 pt-md-14 text-center">
			<div class="row">
				<div class="col-xl-6 mx-auto">
					<h1 class="display-1 mb-4">Société Napoléonienne d'Aix-en-Provence (SNA)</h1>
					<p class="lead fs-lg mb-0">Tout savoir sur notre association</p>
				</div>
			</div>
		</div>
		<figure class="position-absoute mt-12" style="bottom: 0; left: 0; z-index: 2;">
			<img src="/img/david-le-sacre.jpg" alt="David le sacre de Napoléon Ier" />
		</figure>
	</section>
	
	<section class="wrapper bg-light angled upper-end lower-end">
		<div class="container py-10 py-md-10">
			<div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-17 align-items-center">
				<div class="col-lg-6 position-relative order-lg-2">
					<div class="shape bg-dot primary rellax w-16 h-20" data-rellax-speed="1" style="top: 3rem; left: 5.5rem"></div>
					<div class="overlap-grid overlap-grid-2">
						<div class="item">
							<figure class="rounded shadow">
								<img src="/img/IMG_4166.jpg" srcset="/img/IMG_4166.jpg" alt="">
							</figure>
						</div>
						<div class="item">
							<figure class="rounded shadow">
								<img src="/img/rotonde.jpg" srcset="/img/rotonde.jpg" alt="">
								</figure>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<img src="./assets/img/icons/lineal/megaphone.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
					<h2 class="display-4 mb-3">Qui sommes-nous ?</h2>
					<p class="lead fs-lg">La SNA, association loi 1901, a été créée en 2021, année du bicentenaire de
						la mort de Napoléon I<sup>er</sup> (1821). Elle est issue de la Société Napoléonienne de
						Marseille, avec laquelle elle entretient un partenariat constructif afin de promouvoir un
						projet napoléonien axé plus particulièrement sur Aix.</p>
					<p class="mb-6">Aix, ville d'Histoire, et le Pays d'Aix, disposent d'un intérêt napoléonien
					certain quelquefois méconnu : l'objet de la nouvelle association SNA est la promotion des périodes
					historiques du I<sup>er</sup> et du II<sup>nd</sup> Empire, notamment au travers de l'organisation
					d'événements comme des conférences, des visites de lieux napoléoniens en Provence, des
					reconstitutions ou fictions historiques :</p>
					<div class="row gy-3 gx-xl-8">
						<div class="col-xl-6">
							<ul class="icon-list bullet-bg bullet-soft-primary mb-0">
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>Recensement de tous les lieux napoléoniens d'Aix et du Pays d'Aix ;</span>
								</li>
								<li class="mt-3">
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>Mise au point d'un parcours touristique avec un plan indiquant les lieux
									napoléoniens à visiter ;</span>
								</li>
							</ul>
						</div>
						<div class="col-xl-6">
							<ul class="icon-list bullet-bg bullet-soft-primary mb-0">
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>Organisation de visites de châteaux du Pays d'Aix au passé napoléonien ;</span>
								</li>
								<li class="mt-3">
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>Organisation de rencontres/débats à Aix sur des aixois ou des monuments
										liés aux 2 Empires ;</span>
								</li>
							</ul>
						</div>
						<div class="col-xl-6">
							<ul class="icon-list bullet-bg bullet-soft-primary mb-0">
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>Pose de nouvelles plaques de mémoire sur les lieux emblématiques, comme
										sur les statues Portalis et Siméon sur la place Verdun ;</span>
								</li>
								<li class="mt-3">
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>Exposition sur "Aix sous les 2 Empires" ;</span>
								</li>
							</ul>
						</div>
						<div class="col-xl-6">
							<ul class="icon-list bullet-bg bullet-soft-primary mb-0">
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>Érection d'une statue du Général de Miollis, aixois célèbre dont le nom
										est sur l'Arc de Triomphe ;</span>
								</li>
								<li class="mt-3">
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>Acquisition de la marque Ville Impériale pour la ville d'Aix-en-Provence.</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wrapper bg-light">
		<div class="container pt-14 pt-md-9 pb-14 pb-md-17">
			<div class="row mb-8 text-center">
				<div class="col-lg-8 col-xl-7 mx-auto">
					<h2 class="fs-16 text-uppercase text-primary mb-3">Nos activités</h2>
					<h3 class="display-4">Nous organisons des visites guidées, des conférences, des événements et des
						actions institutionnelles autour des deux Empires.</h3>
				</div>
			</div>
			<div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-17 align-items-center">
				<div class="col-lg-6 position-relative">
					<div class="shape bg-dot primary rellax w-17 h-18" data-rellax-speed="1" style="bottom: -2rem; left: -0.7rem;"></div>
					<figure class="rounded mb-0"><img src="/img/rotonde.jpg" srcset="/img/rotonde.jpg" alt="rotonde aix en provence"></figure>
				</div>
				<div class="col-lg-6">
					<h3 class="display-6 mb-4">Visites guidées</h3>
					<p class="mb-5">
						Nous organisons des visites guidées dans plusieurs sites napoléoniens dans la ville et le
						Pays d'Aix.
					</p>
					<div class="row gy-3">
						<div class="col-xl-6">
							<ul class="icon-list bullet-bg bullet-soft-leaf mb-0">
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span><strong>Sur les traces de Napoléon à Aix</strong><br>
										Visite guidée de la ville au départ de la Fontaine de la Rotonde. Nous visitons
										les lieux les plus emblématiques du passage de Napoléon et des personnages du
										Premier empire dans le centre d'Aix.
									</span>
								</li>
								<li class="mt-3">
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span><strong>Château de la Mignarde</strong><br>
										Visite guidée du fameux château de la Mignarde où a séjourné Pauline Bonaparte,
										princesse Borghese, en compagnie de son amant Auguste de Forbin.
									 </span>
								</li>
							</ul>
						</div>
						<div class="col-xl-6">
							<ul class="icon-list bullet-bg bullet-soft-leaf mb-0">
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span><strong>La Légion étrangère de Puyloubier</strong><br>
										Visite de l'Institut des Invalides de la Légion étrangère de Puyloubier.
										Organisation d'événements autour de Napoléon et du Premier empire.
									</span>
								</li>
								<li class="mt-3">
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span><strong>Auberge de la Calade</strong><br>
										Visite d'une ancienne auberge où s'arrête Napoléon en 1814, en route vers l'île
										d'Elbe, accompagné de sa suite (les généraux Bertrand et Drouot).
									 </span>
								</li>
							</ul>
						</div>
					</div>
					<a href="{{ path("app_visites_guidees") }}" class="btn btn-soft-leaf rounded-pill mt-6 mb-0">Réserver une visite</a>
				</div>
			</div>
			<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
				<div class="col-lg-6 order-lg-2 position-relative">
					<div class="shape rounded-circle bg-soft-primary rellax w-18 h-18" data-rellax-speed="1" style="bottom: -2.5rem; right: -1.5rem;"></div>
					<figure class="rounded mb-0">
						<img src="/img/IMG_4168.jpeg" srcset="/img/IMG_4168.jpeg" alt="conférence portalis"></figure>
				</div>
				<div class="col-lg-6">
					<h3 class="display-6 mb-4">Conférences</h3>
					<p class="mb-5">
						Nous organisons régulièrement des conférences et débats autour des deux Empires.
					</p>
					<div class="row gy-3">
						<div class="col-xl-6">
							<ul class="icon-list bullet-bg bullet-soft-leaf mb-0">
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>
										Les projets d'évasion de Sainte-Hélène
									</span>
								</li>
								<li class="mt-3">
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>
										Débat : Napoléon, continuateur ou fossoyeur de la Révolution française ?
									</span>
								</li>
							</ul>
						</div>
						<div class="col-xl-6">
							<ul class="icon-list bullet-bg bullet-soft-leaf mb-0">
								<li>
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>
										Mme de Staël et Bonaparte, conflit de valeurs ou "amour vache" ?
									</span>
								</li>
								<li class="mt-3">
									<span>
										<i class="uil uil-check"></i>
									</span>
									<span>
										 "Le Général Moreau" ennemi de Napoléon
									</span>
								</li>
							</ul>
						</div>
					</div>
					<a href="{{ path('app_evenements') }}" class="btn btn-soft-leaf rounded-pill mt-6 mb-0">Plus d'informations</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wrapper bg-light">
		<div class="container py-14 py-md-17">
			<div class="row mb-8 text-center">
				<div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto">
					<h2 class="fs-16 text-uppercase text-primary mb-3">Nos réussites</h2>
					<h3 class="display-4">Ci-dessous quelques-unes de nos réalisations depuis nos trois ans d'existence.</h3>
				</div>
			</div>
			<div class="grid grid-view projects-masonry">
				<div class="row gx-md-8 gy-10 gy-md-13 isotope">
					<div class="project item col-md-6 col-xl-4 product">
						<figure class="lift rounded mb-6">
							<a href="/img/Aix Portalis.jpg">
								<img
										src="/img/Aix Portalis.jpg"
										style="height: 268px !important; width: 100%; object-fit: cover;"
										alt="Frédéric Couvert devant la plaque commémorative de Siméon"
								/>
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category mb-2 text-yellow">Patrimoine</div>
								<h2 class="post-title h3">Plaques commémoratives</h2>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 col-xl-4 workshop">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_7504.jpeg">
								<img
										src="/img/IMG_7504.jpeg"
										style="height: 268px !important; width: 100%; object-fit: cover;"
										alt="plaque information cours mirabeau"
								/>
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category mb-2 text-red">Tourisme</div>
								<h2 class="post-title h3">Visites guidées</h2>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 col-xl-4 still-life">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_4179.jpeg">
								<img
										src="/img/IMG_4179.jpeg"
								        style="height: 268px !important; width: 100%; object-fit: cover;"
								        alt="conférence sur Siméon"
								/>
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category mb-2 text-orange">Événements</div>
								<h2 class="post-title h3">Conférences</h2>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 col-xl-4 product">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_8104.jpeg">
								<img
										src="/img/IMG_8104.jpeg"
										style="height: 268px !important; width: 100%; object-fit: cover;"
										alt="Place de la mairie"
								/>
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category mb-2 text-purple">Patrimoine</div>
								<h2 class="post-title h3">Acquisition de la marque Ville Impériale</h2>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 col-xl-4 product">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_7516.jpeg">
								<img
										src="/img/IMG_7516.jpeg"
										style="height: 268px !important; width: 100%; object-fit: cover;"
										alt="musée des calissons à aix-en-provence"
								/>
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category mb-2 text-leaf">Musées</div>
								<h2 class="post-title h3">Sauvegarde du Musée des calissons</h2>
							</div>
						</div>
					</div>
					<div class="project item col-md-6 col-xl-4 workshop">
						<figure class="lift rounded mb-6">
							<a href="/img/IMG_2394.jpeg">
								<img
										src="/img/IMG_2394.jpeg"
										style="height: 268px !important; width: 100%; object-fit: cover;"
										alt="diffusion du napoléon d'abel gance à aix-en-provence"
								/>
							</a>
						</figure>
						<div class="project-details d-flex justify-content-center flex-column">
							<div class="post-header">
								<div class="post-category mb-2 text-aqua">Culture</div>
								<h2 class="post-title h3">Diffusion de films en avant-première</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wrapper bg-light">
		<div class="container py-8 py-md-8">
			<div class="row mb-3">
				<div class="col-md-10 col-xl-9 col-xxl-7 mx-auto text-center">
					<img src="./assets/img/icons/lineal/team.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
					<h2 class="display-4 mb-3 px-lg-14">Notre équipe de grognards.</h2>
				</div>
			</div>
			<div class="position-relative">
				<div
						class="shape rounded-circle bg-soft-yellow rellax w-16 h-16"
						data-rellax-speed="1"
						style="bottom: 0.5rem;
						right: -1.7rem;"
				></div>
				<div
						class="shape rounded-circle bg-line red rellax w-16 h-16"
						data-rellax-speed="1"
						style="top: 0.5rem; left: -1.7rem;"
				></div>
				<div
						class="swiper-container dots-closer mb-6"
						data-margin="0"
						data-dots="true"
						data-items-xxl="4"
						data-items-xl="3"
						data-items-lg="3"
						data-items-md="2"
						data-items-xs="1"
				>
					<div class="swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="item-inner">
									<div class="card">
										<div class="card-body">
											<img
													class="rounded-circle w-15 mb-4"
													src="/img/christian-et-fred.avif"
													srcset="/img/christian-et-fred.avif"
													alt="christian heuzé et frédéric couvert"
													style="
												        width: 100px !important;
												        height: 100px !important;
												        object-fit: cover;
												        object-position: 80% center;
												        overflow: hidden;
												    "
											/>
											<h4 class="mb-1">Frédéric Couvert</h4>
											<div class="meta mb-2">Président de la SNA</div>
											<p class="mb-2">Membre fondateur et Président de la SNA, Frédéric Couvert
												est un passionné d'histoire, notamment de l'histoire napoléonienne
												pendant le Premier Empire. Il organise les visites guidées à Aix
												et dans le Pays d'Aix.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item-inner">
									<div class="card">
										<div class="card-body">
											<img
													class="rounded-circle w-15 mb-4"
													src="/img/christian-et-fred.avif"
													srcset="/img/christian-et-fred.avif"
													alt="christian heuzé et frédéric couvert"
													style="
												        width: 100px !important;
												        height: 100px;
												        object-fit: cover;
												        object-position: left;
												        overflow: hidden;
												    "
											/>
											<h4 class="mb-1">Christian Heuzé</h4>
											<div class="meta mb-2">Responsable des relations publiques de la SNA</div>
											<p class="mb-2">Membre fondateur de la SNA, Christian Heuzé est également
												responsable des relations publiques au sein de l'association. Il est un
												grand passionné de Napoléon, et de sa sœur préférée Pauline
												Bonaparte. Il a aussi en sa possession un rare masque mortuaire de
											    l'Empereur, que l'on peut observer sur la photo.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item-inner">
									<div class="card">
										<div class="card-body">
											<img
													class="rounded-circle w-15 mb-4"
													src="/img/jacques-di-contanzo.jpg"
													srcset="/img/jacques-di-contanzo.jpg"
													alt="jacques di constanzo"
													style="
												        width: 100px !important;
												        height: 100px;
												        object-fit: cover;
												        object-position: right;
												        overflow: hidden;
												    "
											/>
											<h4 class="mb-1">Jacques Di Constanzo</h4>
											<div class="meta mb-2">Vice-Président de la SNA, Président de la SNM</div>
											<p class="mb-2">Membre fondateur de la SNA, Jacques Di Constanzo est
												également Président de la Société Napoléonienne de Marseille, qui a été
												créée en 1969.</p>
										</div>
									</div>
								</div>
							</div>
{#							<div class="swiper-slide">#}
{#								<div class="item-inner">#}
{#									<div class="card">#}
{#										<div class="card-body">#}
{#											<img#}
{#													class="rounded-circle w-15 mb-4"#}
{#													src="/img/roland-sagnier.webp"#}
{#													srcset="/img/roland-sagnier.webp"#}
{#													alt="roland sagnier"#}
{#													style="#}
{#												        width: 100px !important;#}
{#												        height: 100px;#}
{#												        object-fit: cover;#}
{#												        object-position: left;#}
{#												        overflow: hidden;#}
{#												    "#}
{#											/>#}
{#											<h4 class="mb-1">Roland Sagnier</h4>#}
{#											<div class="meta mb-2">Trésorier de la SNA</div>#}
{#											<p class="mb-2">Membre fondateur de la SNA, Roland Sagnier est également#}
{#											trésorier de l'association. Il est aussi ex-informaticien chez Bull.</p>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
							<div class="swiper-slide">
								<div class="item-inner">
									<div class="card">
										<div class="card-body">
											<img
													class="rounded-circle w-15 mb-4"
													src="/img/elisabeth-giudicelli-de-mercury.jpg"
													srcset="/img/elisabeth-giudicelli-de-mercury.jpg"
													alt="elisabeth giudicelli de mercury"
													style="
												        width: 100px !important;
												        height: 100px;
												        object-fit: cover;
												        object-position: left;
												        overflow: hidden;
												    "
											/>
											<h4 class="mb-1">Elisabeth Giudicelli de Mercury</h4>
											<div class="meta mb-2">Secrétaire de la SNA</div>
											<p class="mb-2">Membre fondatrice de la SNA, Elisabeth Giudicelli de Mercury
												est également la secrétaire de l'association. Elle occupe par ailleurs
												le métier de décoratrice.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="item-inner">
									<div class="card">
										<div class="card-body">
											<img
													class="rounded-circle w-15 mb-4"
													src="/img/marc.jpeg"
													srcset="/img/marc.jpeg"
													alt="marc lassort"
													style="
												        width: 100px !important;
												        height: 100px;
												        object-fit: cover;
												        object-position: left;
												        overflow: hidden;
												    "
											/>
											<h4 class="mb-1">Marc Lassort</h4>
											<div class="meta mb-2">Responsable numérique</div>
											<p class="mb-2">Membre du conseil d'administration de la SNA, Marc Lassort
												est également développeur du site web et en charge de la
												communication numérique pour l'association.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}

