{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Visites guidées
{% endblock %}

{% block nav_class %}
	navbar-gray navbar-bg-gray
{% endblock %}

{% block canonical %}
	https://snaix.fr/visites-guidees
{% endblock %}

{% block description %}
	Vous souhaitez réserver une visite guidée organisée par la SNA ? C'est ici que ça se passe !
	Réservation possible avec HelloAsso ou par courriel à societenapoleonienne.aix@gmail.com
{% endblock %}

{% block ogtitle %}
	Visites guidées • Société Napoléonienne d'Aix-en-Provence
{% endblock %}

{% block ogdescription %}
	Vous souhaitez réserver une visite guidée organisée par la SNA ? C'est ici que ça se passe !
	Réservation possible avec HelloAsso ou par courriel à societenapoleonienne.aix@gmail.com
{% endblock %}

{% block body %}
	
	<section class="wrapper bg-light">
		<div class="container pb-6 pb-md-6 pt-12">
			<h1 class="text-center display-1 fs-33 lh-xxs mb-0 pt-3">Visites guidées 2024</h1>
			<div class="container pb-6 pb-md-2 pt-12">
				<iframe
						id="haWidget"
						allowtransparency="true"
						src="https://www.helloasso.com/associations/sna-societe-napoleonienne-d-aix-en-provence/boutiques/visite-guidee-sur-les-traces-de-napoleon-a-aix/widget"
						style="width: 100%; height: 1050px; border: none;"
				></iframe>
			</div>
		</div>
	</section>

{% endblock body %}
