<h1>Bonjour {{ user }},</h1>

<p>
  Veuillez réinitialiser votre mot de passe en cliquant sur le lien suivant :
  <br /><br />
  <a href="{{ signedUrl }}">Réinitialiser mon mot de passe</a>. Ce lien expirera
  dans
  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>À bientôt sur notre site !</p>
<p>Les Cordeliers</p>
