<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Shinkyokaï - Adhésion d'un club</title>
</head>
<body>
	<h2>Licence du club</h2>
	<p>Bonjour,</p>
	<p>Nous vous remercions d'avoir inscrit votre club à Shinkyokaï.</p>
	<p>Vous trouverez ci-joint à ce courriel la licence du club en PDF.</p>
	<p>N'hésitez pas à nous contacter pour toute interrogation supplémentaire.</p>
	<p>L'équipe de Shinkyokaï</p>
</body>
</html>
