<!DOCTYPE html>
<html lang="fr">
<body>
	<h1>Erreur 500 détectée</h1>
	<p>Une erreur s'est produite sur le site.</p>
	<p><strong>Message de l'erreur :</strong> {{ exception.message }}</p>
	<p><strong>Trace :</strong></p>
	<pre>{{ exception.trace }}</pre>
</body>
</html>
