<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Shinkyokaï - Adhésion</title>
</head>
<body>
	<h2>Licence</h2>
	<p>Bonjour,</p>
	<p>Nous vous remercions de vous être inscrit à Shinkyokaï.</p>
	<p>Vous trouverez votre licence en pièce jointe.</p>
	<p>N'hésitez pas à nous contacter pour toute interrogation supplémentaire.</p>
	<p>L'équipe de Shinkyokaï</p>
</body>
</html>
