<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Shinkyokaï - Adhésion</title>
</head>
<body>
	<h2>Numéro de licence</h2>
	<p>Bonjour,</p>
	<p>Nous vous remercions de vous être inscrit aux activités culturelles de Shinkyokaï.</p>
	<p>Vous trouverez en pièce jointe votre licence de membre en PDF.</p>
	<p>N'hésitez pas à nous contacter pour toute interrogation supplémentaire.</p>
	<p>L'équipe de Shinkyokaï</p>
</body>
</html>
