{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	Erreur
{% endblock %}

{% block body %}

	<section class="wrapper bg-light">
		<div class="container pt-12 pt-md-14 pb-14 pb-md-16">
			<div class="row">
				<div class="col-lg-9 col-xl-8 mx-auto">
					<figure class="mb-10"><img class="img-fluid" src="/assets/img/illustrations/404.png" srcset="/assets/img/illustrations/404@2x.png 2x" alt=""></figure>
				</div>
				<div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
					<h1 class="mb-3">Mince ! Erreur inconnue.</h1>
					<p class="lead mb-7 px-md-12 px-lg-5 px-xl-7">Nous sommes désolés, mais cette opération ne peut être menée à son terme. Veuillez contacter l'administrateur du site.</p>
					<a href="/" class="btn btn-primary rounded-pill">Revenir à l'accueil</a>
				</div>
			</div>
		</div>
	</section>
</div>{% endblock body %}
